<ng-include src="'templates/nav-top.html'"></ng-include>

    <!--add new form start-->
    <!--form left-->
    <div class="tabs-content clearfix pink-bg">
      <div class="clearfix anc-calender-wrapper">
        <div class="clearfix anc-calender-top">
          <!--ANC top left column-->
          <div class="col-sm-9">
            <div class="clearfix">
              <div class="col-sm-2">
                <div class="mother-profile">
                  <div class="photo"><img src="pregWomanPath" class="img-responsive"></div>
                  <div>{{pregWomanName}}</div>
                </div>
              </div>
     <!-- <div class="col-sm-10 maternal-outcome"  ng-show="pregWomanExist">
       <label class="col-sm-4">Maternal Outcome:</label>
        <label for="radiomaternal1" class="col-sm-3"><input type="radio" name="MO" id="radiomaternal1" ng-disabled="dateOfDelivery"
          ng-value="'Healthy'" ng-model="MaternalOutcome"> Healthy</label>
        <label for="radiomaternal2" class="col-sm-3"><input type="radio" name="MO" id="radiomaternal2" ng-disabled="dateOfDelivery" 
         ng-value="'Sick'" ng-model="MaternalOutcome"> Weak/Sick</label>
        <label for="radiomaternal3" class="col-sm-2"><input type="radio" name="MO" id="radiomaternal3" ng-disabled="dateOfDelivery" 
         ng-value="'Dead'" ng-model="MaternalOutcome" > Dead</label>
       </div>-->
       <div class="col-sm-10 delivery-details">
        <form class="form-horizontal clearfix">
          <div class="col-sm-2">
            <label class="control-label col-sm-4 text-left">Age</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" ng-model="ancAge">
            </div>
          </div>
          <div class="col-sm-4">
            <label class="control-label col-sm-3 text-left">LMP</label>
            <div class="col-sm-9">
             <div class="input-group date-picker">  
              <!--max date year-month-date -->
              <input type="text" class="form-control" datepicker-popup=dd/MM/yy ng-model="LMPCalendarDate"  max-date="minEDD"
              is-open="openedLMP"  datepicker-options="dateOptions"  ng-required="true" ng-disabled="disableButton" close-text="Close"  ng-blur="setEDD();">
              <span class="input-group-btn">
               <button type="button" class="btn btn-default" ng-click="open($event,'LMP')" ng-disabled="disableButton"><i class="icon-date-medium"></i></button>
             </span>
           </div>
         </div>
       </div>
       <div class="col-sm-4">
        <label class="control-label col-sm-3 text-left">EDD</label>
        <div class="col-sm-9">
          <div class="input-group date-picker"> 
            <input type="text" class="form-control" datepicker-popup="dd/MM/yy" ng-model="EDDCalendarDate" max-date="maxEDD" 
            min-date ="minEDD"  is-open="openedEDD"  datepicker-options="dateOptions"  ng-required="true" ng-disabled="disableButton"  close-text="Close"  ng-blur="setLMP();"/>
            <span class="input-group-btn">
             <button type="button" class="btn btn-default" ng-click="open($event,'EDD')" ng-disabled="disableButton"><i class="icon-date-medium"></i></button>
           </span>
         </div>
       </div>
     </div>

     <div class="col-sm-2">
      <button class="default-btn" ng-show = "enterButton" ng-click="enterPregnantWomanDetails()">Enter</button>
    </div>
  </form>
</div>
</div> 
<div class="clearfix">
 <div class="col-sm-2">
   
 </div>
 <div class="col-sm-10 anc-calender-head">
  <div class="col-sm-12 months-name">
   <!-- <div class="col-sm-1">&nbsp;</div>-->
    <div class="col-sm-1" ng-repeat="month in monthsArray"><div class="vertical-txt">{{month.monthName}}</div></div>
    <div class="col-sm-1">&nbsp;</div>
    <div class="col-sm-1">&nbsp;</div>
  </div>
  <div class="col-sm-12 months-activity" ng-show="pregWomanExist">
    <div class="vertical-txt month-heading">Months</div>
    <div class="col-sm-1"><div class="vertical-txt">Past 3 Years</div></div>
    <div class="col-sm-1">1st <img src="img/maternal-1st.gif" class="img-responsive"></div>
    <div class="col-sm-1">2nd <img src="img/maternal-2nd.gif" class="img-responsive"></div>
    <div class="col-sm-1">3rd <img src="img/maternal-3rd.gif" class="img-responsive"></div>
    <div class="col-sm-1">4th <img src="img/maternal-4th.gif" class="img-responsive"></div>
    <div class="col-sm-1">5th <img src="img/maternal-5th.gif" class="img-responsive"></div>
    <div class="col-sm-1">6th <img src="img/maternal-6th.gif" class="img-responsive"></div>
    <div class="col-sm-1">7th <img src="img/maternal-7th.gif" class="img-responsive"></div>
    <div class="col-sm-1">8th <img src="img/maternal-8th.gif" class="img-responsive"></div>
    <div class="col-sm-1">9th <img src="img/maternal-9th.gif" class="img-responsive"></div>
    <div class="col-sm-1"><div class="vertical-txt">Till Date</div></div>
    <div class="col-sm-1"><div class="vertical-txt">After Delivery</div></div>
  </div>
</div>
</div>  
</div>
<!--ANC top right column-->
<div class="col-sm-3">
  <!--Mother age details Form-->
<!--    <div class="mother-age-details">
    <form class="form-horizontal clearfix">
      <div class="col-xs-8">
        <div class="form-group">
          <label class="col-xs-3 control-label">DOB</label>
          <div class="col-xs-9"><input type="text" class="form-control" ng-model="ancDOB" ></div>
        </div>
         <div class="form-group">
          <label class="col-xs-3 control-label">Age</label>
          <div class="col-xs-9"><input type="text" class="form-control" ng-model="ancAge"></div>
        </div>
         <div class="form-group">
          <label class="col-xs-3 control-label">LMP</label>
           <p class="input-group">                       <!--max date year-month-date
                <input type="text" class="form-control" datepicker-popup=dd/MM/yy ng-model="LMPCalendarDate"  max-date="minEDD"
             is-open="openedLMP"  datepicker-options="dateOptions"  ng-required="true" ng-disabled="disableButton" close-text="Close"  ng-blur="setEDD();">
                <span class="input-group-btn">
                 <button type="button" class="btn btn-default" ng-click="open($event,'LMP')" ng-disabled="disableButton"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
     
        </div>
         <div class="form-group">
          <label class="col-xs-3 control-label">EDD</label>
          <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="dd/MM/yy" ng-model="EDDCalendarDate" max-date="maxEDD" 
                min-date ="minEDD"  is-open="openedEDD"  datepicker-options="dateOptions"  ng-required="true" ng-disabled="disableButton"  close-text="Close"  ng-blur="setLMP();"/>
                <span class="input-group-btn">
                 <button type="button" class="btn btn-default" ng-click="open($event,'EDD')" ng-disabled="disableButton"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
         
        </div>
      </div>
      <div class="col-xs-4">
        <div class="mother-profile-pic">
            Mother photo
        </div>
        <div>Leela</div>
      </div>
       <div class="row"><div class="col-sm-12 text-right"><button class="default-btn" ng-show = "enterButton" ng-click="enterPregnantWomanDetails()">Enter</button></div></div>
    </form>
  </div>-->



  <!--birthoutcome Form-->  
  <div class="birth-outcome" ng-show="pregWomanExist">
    <form class="form-horizontal clearfix">
      <h4>Birth Outcome:</h4>
      <!--DOB starts-->
      <div class="form-group  birth-date">
        <div class="col-sm-12">
          <label class="control-label col-sm-2">DOB</label>
          <div class="col-sm-5">

           <div class="input-group date-picker"> 
            <input datepicker-popup="{{format}}" type="text" class="form-control" ng-model="DODCalendarDate" is-open="openedDOD"  ng-required="true"close-text="Close" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event,'DOD')"><i class="icon-date-small"></i></button>
            </span>
          </div>

        </div>

        <div class="col-sm-5 birth-child" ng-hide= "dateOfDelivery">
          <span class="girl-child" ng-click="selectBirthGender('girl')" ng-class="{'active': birthGender.name== 'girl'}">
            <i class="icon-girl-small">&nbsp;</i>
          </span>
          <span class="boy-child" ng-click="selectBirthGender('boy')" ng-class="{'active': birthGender.name== 'boy'}">
            <i class="icon-boy-small">&nbsp;</i>
          </span>
          <span class="misscarriage" ng-click="selectBirthGender('misscarriage')" ng-class="{'active': birthGender.name== 'misscarriage'}">
            <i class="icon-misscarriage">&nbsp;</i>
          </span>
        </div>
      </div>
    </div>
    <!--DOB ends-->
    <div class="form-group">
     <div class="radio-list clearfix col-sm-12">
       <div>
         <input type="radio" id="radio1childOutcome"  name="radioBO" ng-disabled="dateOfDelivery" ng-value="'LiveBirth'" ng-model="BirthOutcome">
         <label for="radio1childOutcome">Live Birth</label>
       </div>
       <div>
         <input type="radio" id="radio2childOutcome" name="radioBO" ng-disabled="dateOfDelivery"ng-value="'Dead'" ng-model="BirthOutcome" ng-value="'LiveBirth'" ng-model="BirthOutcome">
         <label  for="radio2childOutcome">Dead</label>
       </div>
       <div>
         <input type="radio" id="radio3childOutcome" name="radioBO" ng-disabled="dateOfDelivery" ng-value="'Miscarriage'" ng-model="BirthOutcome">
         <label  for="radio3childOutcome">Misscarriage/Still birth</label>
       </div>
     </div>
   </div>    
 </form>
</div>

    <!--maternal outcome-->
    <div class="maternal-outcome"  ng-show="pregWomanExist">
      <h4>Maternal Outcome:</h4>
      <div class="radio-list clearfix">
        <div>
         <input type="radio" name="MO" id="radiomaternal1" ng-disabled="dateOfDelivery"
         ng-value="'Healthy'" ng-model="MaternalOutcome"><label for="radiomaternal1">Healthy</label>
       </div>
       <div>
         <input type="radio" name="MO" id="radiomaternal2" ng-disabled="dateOfDelivery" 
         ng-value="'Sick'" ng-model="MaternalOutcome"><label for="radiomaternal2">Weak/Sick</label>
       </div>
       <div>
         <input type="radio" name="MO" id="radiomaternal3" ng-disabled="dateOfDelivery" 
         ng-value="'Dead'" ng-model="MaternalOutcome" ><label for="radiomaternal3">Dead</label>
       </div>
     </div>
   </div>
     </div>
   </div>
   <!--anc calender body-->
   <div class="clearfix anc-calender-bottom" ng-show="pregWomanExist">
     
    <div class="anc-row clearfix">
      <div class="col-sm-9">
        <div class="col-sm-2 anc-video">
          <div>
            <img ng-click="video.play(1)" src="img/video-screen1.gif" class="img-responsive">
            <div> ASHA AWW VISIT</div>
          </div>
        </div>
        
        <div class="col-sm-10 anc-outcome">
        <!--  <div class="col-sm-1 healthy"><span ng-show="lastAshaVistMonth == 0">{{lastAshaVistDate}}</span></div>-->
          <div ng-class="{'col-sm-1':true,'weak': month.monthNo === nextAshaVisitMonth,'healthy': month.monthNo == 0}" ng-repeat="month in monthsArray"><span ng-show="lastAshaVistMonth == month.monthNo">{{lastAshaVistDate}}</span></div>
            <div class="col-sm-1">{{ashaCountTotal}}</div>
            <div class="col-sm-1">&nbsp;</div>
          </div> 
        </div>
        <div class="col-sm-3 anc-calender-add">
          <form class="form-horizontal">
            <div class="form-group">
              <div class="col-sm-12">
                <div class="col-sm-3">
                  <div class="input-group">
                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="ashaCalendarDate" is-open="opened"  max-date="getDate()" datepicker-options="dateOptions"  ng-required="true"  close-text="Close" ng-hide="true" />
                    <span class="input-group-btn">
                     <button type="button" class="btn btn-default" ng-click="open($event,'asha')"><i class="icon-date"></i></button>
                   </span>
                 </div>
               </div>
               <div class="col-sm-9 radio-group"> 
               </div>
             </div>
           </div>
         </form>
       </div>
     </div>
     
     <div class="anc-row clearfix">
      <div class="col-sm-9">
        <div class="col-sm-2 anc-video">
          <div>
            <img ng-click="video.play(2)" src="img/video-screen1.gif" class="img-responsive">
            <div>ANM. DOC. CHECKUP</div>
          </div>
        </div>
        <div class="col-sm-10 anc-outcome">
          <!--<div class="col-sm-1 healthy"><span ng-show="lastANMVistMonth == -1">{{lastANMVisitDate}}</span></div>-->
          <div ng-class="{'col-sm-1':true,'weak': month.monthNo === nextANMVisitMonth,'healthy': month.monthNo == 0}" ng-repeat="month in monthsArray"> <span ng-show="lastANMVistMonth == month.monthNo">{{lastANMVisitDate}}</span></div>
          <div class="col-sm-1">{{ANMCountTotal}}</div>
          <div class="col-sm-1">&nbsp;</div>
        </div>
      </div>
      <div class="col-sm-3 anc-calender-add">
        <form class="form-horizontal">
         <div class="form-group">
          <div class="col-sm-12 text-right">           
            
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <div class="col-sm-3">
              <div class="input-group">
                <input datepicker-popup="{{format}}" type="text" class="form-control" ng-model="ANMCalendarDate" is-open="openedANM"  ng-required="true"close-text="Close"  ng-hide="true" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open($event,'anm')"><i class="icon-date"></i></button>
                </span>
              </div>
            </div>
            <div class="col-sm-9 radio-group">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- <weight row -->
  <div class="anc-row clearfix">
    <div class="col-sm-9">
      <div class="col-sm-2 anc-video">
        <div>
          <img ng-click="video.play(3)" src="img/video-screen1.gif" class="img-responsive">
          <div>Weight</div>
        </div>
      </div>
      <div class="col-sm-10 anc-outcome">
     <!-- <div class="col-sm-1 healthy"> <span ng-show="symptomData[4].month ==-1">{{symptomData[4].value}}</span></div>-->
        <div ng-class="{'col-sm-1':true,'dead':symptomData[4].month == month.monthNo && weightAlert == true,'healthy': month.monthNo == 0}" ng-repeat="month in monthsArray"> 
          <span ng-show="symptomData[4].month == month.monthNo">{{symptomData[4].value}}
          </div>
        <div class="col-sm-1">{{symptomData[4].value}}</div>
        <div class="col-sm-1">&nbsp;</div>
      </div>
    </div>
    <div class="col-sm-3 anc-calender-add">
      <form class="form-horizontal">
        <div class="form-group">
          <div class="col-sm-12">
            <div class="col-sm-3">
              <div class="input-group">
                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="WeightCalendarDate" is-open="openedWeight" ng-required="true" close-text="Close"  ng-hide="true" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open($event,'weight')"><i class="icon-date"></i></button>
                </span>
              </div>
            </div>
            <div class="col-sm-9 text-right">
              <label class="control-label">Weight</label> <input type="text" class="form-control" ng-model="enteredWeight" ng-blur="updateWeight();"><label class="control-label">Kg</label>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

         <!-- <TT row -->
    <div class="anc-row clearfix">
      <div class="col-sm-9">
        <div class="col-sm-2 anc-video">
          <div>
            <img ng-click="video.play(4)" src="img/video-screen1.gif" class="img-responsive">
           <div>TT</div>
          </div>
        </div>
        <div class="col-sm-10 anc-outcome">
           <!--<div class="col-sm-1 healthy"><span ng-show="lastTTMonth == -1">{{lastTTCount}}</span></div>-->
           <div ng-class="{'col-sm-1':true,'weak': month.monthNo === nextTTMonth && alertTT ==  true,'healthy': month.monthNo == 0}" ng-repeat="month in monthsArray"> <span ng-show="lastTTMonth == month.monthNo">{{lastTTCount}}</span></div>
          <div class="col-sm-1">{{totalTTCount}}</div>
          <div class="col-sm-1">&nbsp;</div>
        </div>
      </div>
      <div class="col-sm-3 anc-calender-add">
      <form class="form-horizontal">
        <div class="form-group">
        <div class="col-sm-12">
          <div class="col-sm-3">
            <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="TTCalendarDate" is-open="openedTT" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open($event,'TT')"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
          </div>
          <div class="col-sm-9 text-right">
            <label class="control-label">TT in last pregnancy</label> <input type="text" class="form-control" ng-model="enteredTT"  ng-blur="updateTT();"/>
            <label for="radio5TT" class="control-label"><input type="radio" ng-model="TTOutcome"  ng-value="'no'"  name="TTCheck" id="radio5TT">No</label>
             <label for="radio4TT" class="control-label"><input type="radio" ng-model="TTOutcome" name="TTCheck" ng-value="'yes'" id="radio4TT">Yes</label> 
          </div>
          </div>
        </div>
        </form>
      </div>
    </div>

  <!--anaemia row-->
  <div class="anc-row clearfix">
    <div class="col-sm-9">
      <div class="col-sm-2 anc-video">
        <div>
          <img ng-click="video.play(5)" src="img/video-screen1.gif" class="img-responsive">
          <div>Anaemia</div>
        </div>
      </div>
      <div class="col-sm-10 anc-outcome">
        <!--<div class="col-sm-1 healthy"> <span ng-show="symptomData[2].month ==-1">{{symptomData[2].value}}</span></div>-->
        <div ng-class="{'col-sm-1':true,'dead': month.monthNo == symptomData[2].month && alertHB == true,'healthy': month.monthNo == 0}" ng-repeat="month in monthsArray"> <span ng-show="symptomData[2].month == month.monthNo">{{symptomData[2].value}}</span></div>
        <div class="col-sm-1">{{symptomData[2].value}}</div>
        <div class="col-sm-1">&nbsp;</div>
      </div>
    </div>
    <div class="col-sm-3 anc-calender-add">
      <form class="form-horizontal">
       <div class="form-group">
        <div class="col-sm-12 text-right">           
         
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <div class="col-sm-3">
            <div class="input-group">
              <input datepicker-popup="{{format}}" type="text" class="form-control" ng-model="HBCalendarDate" is-open="openedHB"  ng-required="true"close-text="Close"  ng-hide="true" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event,'HB')"><i class="icon-date"></i></button>
              </span>
            </div>
          </div>
          <div class="col-sm-9 radio-group">
            <div>
              <input type="text" class="form-control" ng-model="enteredHB"  ng-blur="updateHB();"/>
              <label>HB 10</label> 
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!--HB TEST ENDS-->

<!-- PALE EYE -->
<div class="anc-row clearfix">
  <div class="col-sm-9">
    <div class="col-sm-2 anc-video">
      <div>
        <img src="img/video-screen1.gif" ng-click="video.play(6)" class="img-responsive">
        <div>Pale Eye</div>
      </div>
    </div>
    <div class="col-sm-10 anc-outcome">
      <div class="col-sm-1" ng-class="{'dead': visitsList[month.monthNo].value == 'yes','healthy': month.monthNo == 0}" ng-repeat="month in monthsArray">  
         <span ng-hide="match ==1 && lastObj.monthNo == visitsList[month.monthNo].monthNo">{{visitsList[month.monthNo].value}}</span>  
         <span ng-show="lastObj.monthNo == month.monthNo">{{lastObj.value}}</span>  
      </div>
      <div class="col-sm-1">{{symptomData[0].value}}</div>
      <div class="col-sm-1">&nbsp;</div>
    </div>
  </div>
  <div class="col-sm-3 anc-calender-add">
    <form class="form-horizontal">
     <div class="form-group">
      <div class="col-sm-12 text-right">           
       
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">
        <div class="col-sm-3">
          <div class="input-group">
            <input datepicker-popup="{{format}}" type="text" class="form-control" ng-model="PaleCalendarDate" is-open="openedPale"  ng-required="true"close-text="Close"  ng-hide="true" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event,'Pale')"><i class="icon-date"></i></button>
            </span>
          </div>
        </div>
        <div class="col-sm-9 radio-group">
          <div>
            <input type="radio" ng-model="paleOutcome"  ng-value="'no'"  name="PaleEyeCheck" id="radio5" ng-change="updatePale()">
            <label for="radio5">No</label>
          </div>
          <div>
            <input type="radio" ng-model="paleOutcome" name="PaleEyeCheck" ng-value="'yes'" id="radio4" ng-change="updatePale()">
            <label for="radio4">Yes</label> 
          </div>
          
          
        </div>
      </div>
    </div>
  </form>
</div>
</div>
    <!--PALE EYE ENDS

    <!--Night Blindness-->
    <div class="anc-row clearfix">
      <div class="col-sm-9">
        <div class="col-sm-2 anc-video">
          <div>
            <img src="img/video-screen1.gif" ng-click="video.play(7)" class="img-responsive">
            <div>Night Blind</div>
          </div>
        </div>
        <div class="col-sm-10 anc-outcome">
      <!--   <div class="col-sm-1 healthy"> <span ng-show="symptomData[1].month ==-1">{{symptomData[1].value}}</span></div> -->
          <div class="col-sm-1" ng-class="{'dead': month.monthNo == symptomData[1].month && symptomData[1].value == 'yes','healthy': month.monthNo == 0}" ng-repeat="month in monthsArray">
            <span ng-show="symptomData[1].month == month.monthNo">{{symptomData[1].value}}</span>
            
          </div>
          <div class="col-sm-1">{{symptomData[1].value}}</div>
          <div class="col-sm-1">&nbsp;</div>
        </div>
      </div>
      <div class="col-sm-3 anc-calender-add">
        <form class="form-horizontal">
         <div class="form-group">
          <div class="col-sm-12 text-right">           
           
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <div class="col-sm-3">
              <div class="input-group">
                <input datepicker-popup="{{format}}" type="text" class="form-control" ng-model="NightBlindCalendarDate" is-open="openedNightBlind"  ng-required="true"close-text="Close"  ng-hide="true" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open($event,'NB')"><i class="icon-date"></i></button>
                </span>
              </div>
            </div>
            <div class="col-sm-9 radio-group">
              <div>
                <input type="radio" ng-model="blindOutcome"  ng-value="'no'"  name="BlindCheck" id="radio15" ng-change="updateBlind()">
                <label for="radio15">No</label>
              </div>
              
              <div>
               <input type="radio" ng-model="blindOutcome" name="BlindCheck" ng-value="'yes'"  id="radio14" ng-change="updateBlind()">
               <label for="radio14">Yes</label>
             </div> 
           </div>
         </div>
       </div>
     </form>
   </div>
 </div>
 <!--Night Blindness ENDS-->


 <!--Bleeding-->
 <div class="anc-row clearfix">
  <div class="col-sm-9">
    <div class="col-sm-2 anc-video">
      <div>
        <img src="img/video-screen1.gif" ng-click="video.play(8)" class="img-responsive">
        <div>Bleeding</div>
      </div>
    </div>
    <div class="col-sm-10 anc-outcome">
      <!--<div class="col-sm-1 healthy"> <span ng-show="symptomData[3].month ==-1">{{symptomData[3].value}}</span></div>-->
      <div class="col-sm-1" ng-class="{'dead': month.monthNo == symptomData[3].month && symptomData[3].value == 'yes','healthy': month.monthNo == 0}" ng-repeat="month in monthsArray">
        <span ng-show="symptomData[3].month == month.monthNo">{{symptomData[3].value}}</span>
        
      </div>
      <div class="col-sm-1">{{symptomData[3].value}}</div>
      <div class="col-sm-1">&nbsp;</div>
    </div>
  </div>
  <div class="col-sm-3 anc-calender-add">
    <form class="form-horizontal">
     <div class="form-group">
      <div class="col-sm-12 text-right">           
       
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">
        <div class="col-sm-3">
          <div class="input-group">
            <input datepicker-popup="{{format}}" type="text" class="form-control" ng-model="BleedingCalendarDate" is-open="openedBleeding"  ng-required="true" close-text="Close"  ng-hide="true" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event,'Bleeding')"><i class="icon-date"></i></button>
            </span>
          </div>
        </div>
        <div class="col-sm-9 radio-group">
          <div>
            <input type="radio" ng-model="bleedingOutcome"  ng-value="'no'"  name="BleedCheck" id="radio25" ng-change="updateBleed()">
            <label for="radio25">No</label>
          </div>
          
          <div>
            <input type="radio" ng-model="bleedingOutcome" name="BleedCheck" ng-value="'yes'"  id="radio24" ng-change="updateBleed()">
            <label for="radio24">Yes</label> 
          </div>
          
        </div>
      </div>
    </div>
  </form>
</div>
</div>
<!--Bleeding ENDS-->


<!--Malaria-->
<div class="anc-row clearfix">
  <div class="col-sm-9">
    <div class="col-sm-2 anc-video">
      <div>
        <img src="img/video-screen1.gif" ng-click="video.play(9)" class="img-responsive">
        <div>Malaria</div>
      </div>
    </div>
    <div class="col-sm-10 anc-outcome">
      <!-- <div class="col-sm-1 healthy"> <span ng-show="symptomData[5].month ==-1">{{symptomData[5].value}}</span></div>-->
      <div class="col-sm-1" ng-class="{'dead': month.monthNo == symptomData[5].month && symptomData[5].value == 'yes','healthy': month.monthNo == 0}" ng-repeat="month in monthsArray">
        <span ng-show="symptomData[5].month == month.monthNo">{{symptomData[5].value}}</span>
        
      </div>
      <div class="col-sm-1">{{symptomData[5].value}}</div>
      <div class="col-sm-1">&nbsp;</div>
    </div>
  </div>
  <div class="col-sm-3 anc-calender-add">
    <form class="form-horizontal">
     <div class="form-group">
      <div class="col-sm-12 text-right">           
       
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">
        <div class="col-sm-3">
          <div class="input-group">
            <input datepicker-popup="{{format}}" type="text" class="form-control" ng-model="MalariaCalendarDate" is-open="openedMalaria"  ng-required="true" close-text="Close"  ng-hide="true" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event,'Malaria')"><i class="icon-date"></i></button>
            </span>
          </div>
        </div>
        <div class="col-sm-9 radio-group">
          <div>
            <input type="radio" ng-model="malariaOutcome"  ng-value="'no'"  name="MalariaCheck"  id="radio35" ng-change="updateMalaria()">
            <label for="radio35">No</label>
          </div>
          
          <div>
            <input type="radio" ng-model="malariaOutcome" name="MalariaCheck" ng-value="'yes'"  id="radio34" ng-change="updateMalaria()">
            <label for="radio34">Yes</label> 
          </div>  
          
        </div>
      </div>
    </div>
  </form>
</div>
</div>
<!--Malaria ENDS-->

<!--IFA Tablets row-->
<div class="anc-row clearfix">
  <div class="col-sm-9">
    <div class="col-sm-2 anc-video">
      <div>
        <img src="img/video-screen1.gif" ng-click="video.play(10)" class="img-responsive">
        <div>IFA Tablets</div>
      </div>
    </div>
    <div class="col-sm-10 anc-outcome">
      <div ng-class="{'col-sm-1':true,'weak':month.monthNo == nextIFAVisit  && alertIFA == true,'healthy': month.monthNo == 0}" ng-repeat="month in monthsArray"> <span ng-show="lastIFAMonth == month.monthNo">{{lastIFACount}}</span></div>
      <div class="col-sm-1">{{totalIFACount}}</div>
      <div class="col-sm-1">&nbsp;</div>
    </div>
  </div>
  <div class="col-sm-3 anc-calender-add">
    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-sm-12">
          <div class="col-sm-3">
            <div class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="IFACalendarDate" is-open="openedIFA" ng-required="true" close-text="Close"  ng-hide="true" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event,'IFA')"><i class="icon-date"></i></button>
              </span>
            </div>
          </div>
          <div class="col-sm-9 text-right">
            <label class="control-label">Quantity</label> <input type="text" class="form-control" ng-model="enteredIFA" ng-blur="updateIFA();"><label class="control-label">Kg</label>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

    <!--BP row-->
    <div class="anc-row clearfix">
      <div class="col-sm-9">
        <div class="col-sm-2 anc-video">
          <div>
            <img src="img/video-screen1.gif" ng-click="video.play(11)" class="img-responsive">
           <div>BP</div>
          </div>
        </div>
        <div class="col-sm-10 anc-outcome">
       <!-- <div class="col-sm-1 healthy"> <span ng-show="symptomData[13].month ==-1">{{symptomData[13].value}}</span></div>-->
         <!--  <div ng-class="{'col-sm-1':true,'dead': month.monthNo == lastHBMonth && alertHB == true}" ng-repeat="month in monthsArray"> <span ng-show="lastHBMonth == month.monthNo">{{lastHBValue}}</span></div>-->
           <div ng-class="{'col-sm-1':true,'dead': month.monthNo == symptomData[13].month && symptomData[13].value == 'High','healthy': month.monthNo == 0}" ng-repeat="month in monthsArray"> <span ng-show="symptomData[13].month == month.monthNo">{{symptomData[13].value == 'High'?'High':'Normal'}}</span></div>
          <div class="col-sm-1">{{symptomData[13].value}}</span></div>
          <div class="col-sm-1">&nbsp;</div>
        </div>
      </div>
      <div class="col-sm-3 anc-calender-add">
      <form class="form-horizontal">
        <div class="form-group">
        <div class="col-sm-12">
          <div class="col-sm-3">
            <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="BPCalendarDate" is-open="openedBP" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open($event,'BP')"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
          </div>
          <div class="col-sm-9 text-right">
            <label class="control-label">140</label> <input type="text" class="form-control" ng-model="enteredBPHigh" ng-blur="updateBPNo();"> <label class="control-label">90</label> <input type="text" class="form-control" ng-model="enteredBPLow" ng-blur="updateBPNo();">
            <label for="radio35BP" class="control-label"><input type="radio" ng-model="BPOutcome"  ng-value="'High'" name="BPCheck" 
                id="radio35BP" ng-change="updateBP()">High</label>
             <label for="radio34BP" class="control-label"><input type="radio" ng-model="BPOutcome" name="BPCheck" ng-value="'Normal'" 
              id="radio34BP" ng-change="updateBP()">Nomal</label> 
          </div>
          </div>
        </div>
        </form>
      </div>
    </div>

<!--Urine Protein row-->
<div class="anc-row clearfix">
  <div class="col-sm-9">
    <div class="col-sm-2 anc-video">
      <div>
        <img src="img/video-screen1.gif" ng-click="video.play(12)" class="img-responsive">
        <div>Urine Protein</div>
      </div>
    </div>
    <div class="col-sm-10 anc-outcome">
   <!--   <div class="col-sm-1 healthy"> <span ng-show="symptomData[6].month ==-1">{{symptomData[6].value}}</span></div>-->
      <div class="col-sm-1" ng-class="{'dead': month.monthNo == symptomData[6].month && symptomData[6].value == 'yes','healthy': month.monthNo == 0}" ng-repeat="month in monthsArray">
        <span ng-show="symptomData[6].month == month.monthNo">{{symptomData[6].value == 'yes'?'+':'-'}}</span>
        
      </div>
      <div class="col-sm-1">{{symptomData[6].value == 'yes'?'+':'-'}}</div>
      <div class="col-sm-1">&nbsp;</div>
    </div>
  </div>
  <div class="col-sm-3 anc-calender-add">
    <form class="form-horizontal">
     <div class="form-group">
      <div class="col-sm-12 text-right">           
       
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">
        <div class="col-sm-3">
          <div class="input-group">
            <input datepicker-popup="{{format}}" type="text" class="form-control" ng-model="UPCalendarDate" is-open="openedUP"  ng-required="true" close-text="Close"  ng-hide="true" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event,'UP')"><i class="icon-date"></i></button>
            </span>
          </div>
        </div>
        <div class="col-sm-9 radio-group">
          <div>
            <input type="radio" ng-model="UPOutcome"  ng-value="'no'"  name="UPCheck"  id="radio55" ng-change="updateUP()">
            <label for="radio55">No</label>
          </div>
          <div>
            <input type="radio" ng-model="UPOutcome" name="UPCheck" ng-value="'yes'"  id="radio54" ng-change="updateUP()">
            <label for="radio54">Yes</label> 
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
</div>
<!--Urine Protein row ENDS-->

<!--Swelling row-->
<div class="anc-row clearfix">
  <div class="col-sm-9">
    <div class="col-sm-2 anc-video">
      <div>
        <img src="img/video-screen1.gif" ng-click="video.play(13)" class="img-responsive">
        <div>Swelling</div>
      </div>
    </div>
    <div class="col-sm-10 anc-outcome">
    <!-- <div class="col-sm-1 healthy"> <span ng-show="symptomData[7].month ==-1">{{symptomData[7].value}}</span></div>-->
      <div class="col-sm-1" ng-class="{'dead': month.monthNo == symptomData[7].month && symptomData[7].value == 'yes','healthy': month.monthNo == 0}" ng-repeat="month in monthsArray">
        <span ng-show="symptomData[7].month == month.monthNo">{{symptomData[7].value}}</span>
        
      </div>
      <div class="col-sm-1">{{symptomData[7].value}}</div>
      <div class="col-sm-1">&nbsp;</div>
    </div>
  </div>
  <div class="col-sm-3 anc-calender-add">
    <form class="form-horizontal">
     <div class="form-group">
      <div class="col-sm-12 text-right">           
       
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">
        <div class="col-sm-3">
          <div class="input-group">
            <input datepicker-popup="{{format}}" type="text" class="form-control" ng-model="SwellingCalendarDate" is-open="openedSwelling"  ng-required="true" close-text="Close"  ng-hide="true" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event,'Swelling')"><i class="icon-date"></i></button>
            </span>
          </div>
        </div>
        <div class="col-sm-9 radio-group">
          <div>
            <input type="radio" ng-model="SwellingOutcome"  ng-value="'no'"  name="SwellingCheck" id="radio65" ng-change="updateSwelling()">
            <label for="radio65">No</label>
          </div>
          <div>
            <input type="radio" ng-model="SwellingOutcome" name="SwellingCheck" ng-value="'yes'"  id="radio64" ng-change="updateSwelling()">
            <label for="radio64">Yes</label> 
          </div>
          
          
        </div>
      </div>
    </div>
  </form>
</div>
</div>
<!--Swelling row ENDS-->

<!--Fits row-->
<div class="anc-row clearfix">
  <div class="col-sm-9">
    <div class="col-sm-2 anc-video">
      <div>
        <img src="img/video-screen1.gif" ng-click="video.play(14)" class="img-responsive">
        <div>Fits/blurred vision/headache</div>
      </div>
    </div>
    <div class="col-sm-10 anc-outcome">
     <!-- <div class="col-sm-1 healthy"> <span ng-show="symptomData[8].month ==-1">{{symptomData[8].value}}</span></div>-->
      <div class="col-sm-1" ng-class="{'dead': month.monthNo == symptomData[8].month && symptomData[8].value == 'yes','healthy': month.monthNo == 0}" ng-repeat="month in monthsArray">
        <span ng-show="symptomData[8].month == month.monthNo">{{symptomData[8].value == 'yes'?'+':'-'}}</span>
        
      </div>
      <div class="col-sm-1">{{symptomData[8].value == 'yes'?'+':'-'}}</div>
      <div class="col-sm-1">&nbsp;</div>
    </div>
  </div>
  <div class="col-sm-3 anc-calender-add">
    <form class="form-horizontal">
     <div class="form-group">
      <div class="col-sm-12 text-right">           
       
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">
        <div class="col-sm-3">
          <div class="input-group">
            <input datepicker-popup="{{format}}" type="text" class="form-control" ng-model="FitsCalendarDate" is-open="openedFits"  ng-required="true" close-text="Close"  ng-hide="true" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event,'Fits')"><i class="icon-date"></i></button>
            </span>
          </div>
        </div>
        <div class="col-sm-9 radio-group">
          <div>
            <input type="radio" ng-model="FitsOutcome"  ng-value="'no'"  name="FitsCheck" id="radio65Fits" ng-change="updateFits()">
            <label for="radio65Fits">No</label>
          </div>
          <div>
           <input type="radio" ng-model="FitsOutcome" name="FitsCheck" ng-value="'yes'"  id="radio64Fits" ng-change="updateFits()">
           <label for="radio64Fits">Yes</label> 
         </div>
       </div>
     </div>
   </div>
 </form>
</div>
</div>
<!--Fits row ENDS-->

<!--Urine Sugar row-->
<div class="anc-row clearfix">
  <div class="col-sm-9">
    <div class="col-sm-2 anc-video">
      <div>
        <img src="img/video-screen1.gif" ng-click="video.play(15)" class="img-responsive">
        <div>Urine Sugar</div>
      </div>
    </div>
    <div class="col-sm-10 anc-outcome">
     <!--<div class="col-sm-1 healthy"> <span ng-show="symptomData[9].month ==-1">{{symptomData[9].value}}</span></div>-->
      <div class="col-sm-1" ng-class="{'dead': month.monthNo == symptomData[9].month && symptomData[9].value == 'yes','healthy': month.monthNo == 0}" ng-repeat="month in monthsArray">
        <span ng-show="symptomData[9].month == month.monthNo">{{symptomData[9].value == 'yes'?'+':'-'}}</span>
        
      </div>
      <div class="col-sm-1">{{symptomData[9].value == 'yes'?'+':'-'}}</div>
      <div class="col-sm-1">&nbsp;</div>
    </div>
  </div>
  <div class="col-sm-3 anc-calender-add">
    <form class="form-horizontal">
     <div class="form-group">
      <div class="col-sm-12 text-right">           
       
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">
        <div class="col-sm-3">
          <div class="input-group">
            <input datepicker-popup="{{format}}" type="text" class="form-control" ng-model="USCalendarDate" is-open="openedUS"  ng-required="true" close-text="Close"  ng-hide="true" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event,'US')"><i class="icon-date"></i></button>
            </span>
          </div>
        </div>
        <div class="col-sm-9 radio-group">
          <div>
            <input type="radio" ng-model="USOutcome"  ng-value="'no'"  name="USCheck" id="radio75" ng-change="updateUS()">
            <label for="radio75">No</label>
          </div>
          <div>
            <input type="radio" ng-model="USOutcome" name="USCheck" ng-value="'yes'" id="radio76" ng-change="updateUS()">
            <label for="radio76">Yes</label> 
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
</div>
<!--US row ENDS-->

<!--FEVER-->
<div class="anc-row clearfix">
  <div class="col-sm-9">
    <div class="col-sm-2 anc-video">
      <div>
        <img src="img/video-screen1.gif" ng-click="video.play(16)" class="img-responsive">
        <div>Fever</div>
      </div>
    </div>
    <div class="col-sm-10 anc-outcome">
     <!--<div class="col-sm-1 healthy"> <span ng-show="symptomData[10].month ==-1">{{symptomData[10].value}}</span></div>-->
      <div class="col-sm-1" ng-class="{'dead': month.monthNo == symptomData[10].month && symptomData[10].value == 'yes','healthy': month.monthNo == 0}" ng-repeat="month in monthsArray">
        <span ng-show="symptomData[10].month == month.monthNo">{{symptomData[10].value == 'yes'?'+':'-'}}</span>
        
      </div>
      <div class="col-sm-1">{{symptomData[10].value == 'yes'?'+':'-'}}</div>
      <div class="col-sm-1">&nbsp;</div>
    </div>
  </div>
  <div class="col-sm-3 anc-calender-add">
    <form class="form-horizontal">
     <div class="form-group">
      <div class="col-sm-12 text-right">           
       
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">
        <div class="col-sm-3">
          <div class="input-group">
            <input datepicker-popup="{{format}}" type="text" class="form-control" ng-model="FeverCalendarDate" is-open="openedFever"  ng-required="true" close-text="Close"  ng-hide="true" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event,'Fever')"><i class="icon-date"></i></button>
            </span>
          </div>
        </div>
        <div class="col-sm-9 radio-group">
          <div>
            <input type="radio" ng-model="FeverOutcome"  ng-value="'no'"  name="FeverCheck" id="radioFever5" ng-change="updateFever()">
            <label for="radioFever5">No</label>
          </div>
          <div>
            <input type="radio" ng-model="FeverOutcome" name="FeverCheck" ng-value="'yes'" id="radioFever4" ng-change="updateFever()">
            <label for="radioFever4">Yes</label>
          </div>
          
        </div>
      </div>
    </div>
  </form>
</div>
</div>
<!--FeverS row ENDS-->

<!--Fits row-->
<div class="anc-row clearfix">
  <div class="col-sm-9">
    <div class="col-sm-2 anc-video">
      <div>
        <img src="img/video-screen1.gif" ng-click="video.play(17)" class="img-responsive">
        <div>Foul swelling Discharge</div>
      </div>
    </div>
    <div class="col-sm-10 anc-outcome">
      <!--<div class="col-sm-1 healthy"> <span ng-show="symptomData[11].month ==-1">{{symptomData[11].value}}</span></div>-->
      <div class="col-sm-1" ng-class="{'dead': month.monthNo == symptomData[11].month && symptomData[11].value == 'yes','healthy': month.monthNo == 0}" ng-repeat="month in monthsArray">
        <span ng-show="symptomData[11].month == month.monthNo">{{symptomData[11].value == 'yes'?'+':'-'}}</span>
        
      </div>
      <div class="col-sm-1">{{symptomData[11].value == 'yes'?'+':'-'}}</div>
      <div class="col-sm-1">&nbsp;</div>
    </div>
  </div>
  <div class="col-sm-3 anc-calender-add">
    <form class="form-horizontal">
     <div class="form-group">
      <div class="col-sm-12 text-right">           
       
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">
        <div class="col-sm-3">
          <div class="input-group">
            <input datepicker-popup="{{format}}" type="text" class="form-control" ng-model="FoulSmellCalendarDate" is-open="openedFoulSmell"  ng-required="true" close-text="Close"  ng-hide="true" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event,'FoulSmell')"><i class="icon-date"></i></button>
            </span>
          </div>
        </div>
        <div class="col-sm-9 radio-group">
          <div>
            <input type="radio" ng-model="FoulSmellOutcome"  ng-value="'no'"  name="FitsCheck"  id="radioFoulsmell65" ng-change="updateFoulSmell()">
            <label for="radioFoulsmell65">No</label>
          </div>
          <div>
           <input type="radio" ng-model="FoulSmellOutcome" name="FitsCheck" ng-value="'yes'" id="radiFoulsmello64" ng-change="updateFoulSmell()">
           <label for="radioFoulsmell64">Yes</label> 
         </div>
       </div>
     </div>
   </div>
 </form>
</div>
</div>
<!--FoulSmell row ENDS-->

<!--weakness row-->
<div class="anc-row clearfix">
  <div class="col-sm-9">
    <div class="col-sm-2 anc-video">
      <div>
        <img src="img/video-screen1.gif" ng-click="video.play(18)" class="img-responsive">
        <div>Weakness/other illness</div>
      </div>
    </div>
    <div class="col-sm-10 anc-outcome">
      <!--<div class="col-sm-1 healthy"> <span ng-show="symptomData[12].month ==-1">{{symptomData[12].value}}</span></div>-->
      <div class="col-sm-1" ng-repeat="month in monthsArray" ng-class="{'dead': month.monthNo == symptomData[12].month && symptomData[12].value == 'yes','healthy': month.monthNo == 0}">
        <span ng-show="symptomData[12].month == month.monthNo">{{symptomData[12].value == 'yes'?'+':'-'}}</span>
      </div>
      <div class="col-sm-1">{{symptomData[12].value == 'yes'?'+':'-'}}</div>
      <div class="col-sm-1">&nbsp;</div>
    </div>
  </div>
  <div class="col-sm-3 anc-calender-add">
    <form class="form-horizontal">
     <div class="form-group">
      <div class="col-sm-12 text-right">           
       
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">
        <div class="col-sm-3">
          <div class="input-group">
            <input datepicker-popup="{{format}}" type="text" class="form-control" ng-model="WeaknessCalendarDate" is-open="openedWeakness"  ng-required="true" close-text="Close"  ng-hide="true" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event,'Weakness')"><i class="icon-date"></i></button>
            </span>
          </div>
        </div>
        <div class="col-sm-9 radio-group">
          <div>
            <input type="radio" ng-model="WeaknessOutcome"  ng-value="'no'"  name="WeaknessCheck" id="radioWeakness65" ng-change="updateWeakness()">
            <label for="radioWeakness65">No</label></div>
            <div>            
             <input type="radio" ng-model="WeaknessOutcome" name="WeaknessCheck" ng-value="'yes'" id="radioWeakness64" ng-change="updateWeakness()">
             <label for="radioWeakness64">Yes</label> </div>
           </div>
         </div>
       </div>
     </form>
   </div>
 </div>
 <!--Weakness row ENDS-->
 <h4>Which FP Method you use</h4>
 <!--anc row-->
 <div class="anc-row clearfix">
  <div class="col-sm-9">
    <div class="col-sm-2 anc-video">
      <div>
        <img src="img/fpmethod-img.jpg" class="img-responsive">
        <div>Postpartum FP</div>
      </div>
    </div>
    <div class="col-sm-10 anc-outcome">
      <!--<div class="col-sm-1 healthy">&nbsp;</div>-->
      <div class="col-sm-1 " ng-repeat="month in monthsArray" ng-class="{'weak':month.monthNo == FPmonth1 || month.monthNo == FPmonth2 ||month.monthNo == FPmonth3,'healthy': month.monthNo == 0}" ></div>
      <div class="col-sm-1">&nbsp;</div>
      <div class="col-sm-1"><span>
          <img src="" ng-show="FPMethod.id == 0 && dateOfDelivery == false">
          <img src="img/condom-pic.png" ng-show="FPMethod.id == 1 && dateOfDelivery == false">
          <img src="img/ocp-pic.png" ng-show="FPMethod.id == 2 && dateOfDelivery == false">
          <img src="img/dmpa-pic.png" ng-show="FPMethod.id == 3 && dateOfDelivery == false">
          <img src="img/iucd-pic.png" ng-show="FPMethod.id == 4 && dateOfDelivery == false">
          <img src="img/fst-pic.png" ng-show="FPMethod.id == 5 && dateOfDelivery == false">
          <img src="img/mst-pic.png" ng-show="FPMethod.id == 6 && dateOfDelivery == false">
      </span></div>
    </div>
  </div>
  <div class="col-sm-3 anc-calender-add">
    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="input-group date-picker"> 
            <input type="text" class="form-control" placeholder="12/12/1986">
            <span class="input-group-btn"><i class="icon-date">&nbsp;</i></span>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!--fp methods wrapper-->
<div class="clearfix fp-methods-wrapper">
 <div class="col-sm-2">
  &nbsp;
</div>
<div class="col-sm-10 fp-methods"  ng-disabled="dateOfDelivery" ng-class="{'disableCls':dateOfDelivery == false}">
  <ul>
    <li>
      <div ng-click="selectFPMethod(0)" ng-class="{'active': FPMethod.id===0 && dateOfDelivery == false}"><span>&nbsp;</span></div>
      <div>None</div>
    </li>
    <li>
      <div ng-click="selectFPMethod(1)" ng-class="{'active': FPMethod.id===1 && dateOfDelivery == false}"><span><img src="img/condom-pic.png"></span></div>
      <div>Condom</div>
    </li>
    <li>
      <div ng-click="selectFPMethod(2)" ng-class="{'active': FPMethod.id===2 && dateOfDelivery == false}"><span><img src="img/ocp-pic.png"></span></div>
      <div>OCP</div>
    </li>
    <li>
      <div ng-click="selectFPMethod(3)" ng-class="{'active': FPMethod.id===3 && dateOfDelivery == false}"><span><img src="img/dmpa-pic.png"></span></div>
      <div>DMPA</div>
    </li>
    <li>
      <div ng-click="selectFPMethod(4)" ng-class="{'active': FPMethod.id===4 && dateOfDelivery == false}"><span><img src="img/iucd-pic.png"></span></div>
      <div>IUCD</div>
    </li>
    <li>
      <div ng-click="selectFPMethod(5)" ng-class="{'active': FPMethod.id===5 && dateOfDelivery == false}"><span><img src="img/fst-pic.png"></span></div>
      <div>F-St</div>
    </li>
    <li>
      <div ng-click="selectFPMethod(6)" ng-class="{'active': FPMethod.id===6 && dateOfDelivery == false}"><span><img src="img/mst-pic.png"></span></div>
      <div>M-St</div>
    </li>
  </ul>
</div>
</div>

</div>
<div class="row">
  <div class="col-sm-12 text-right">
    <button class="default-btn" ng-click="" ng-show="pregWomanExist" ng-disabled="dateOfDelivery">Go to new born</button>
    <button class="default-btn" ng-click="saveANCDetails()"ng-show="pregWomanExist">Save</button>
  </div>
</div>
</div>
<!--anc-calender-wrapper ends here-->
</div>

<div ng-if="video.show" ng-click="video.stop()">
  <div class="video-overlay"></div>
  <div class="video-full-screen" ng-click="$event.stopPropagation()">
    <video id="selected-video" class="video-full-screen" controls>
      <source ng-src="{{video.path}}" type="video/mp4">
    </video>
  </div>
</div>

