<ng-include src="'templates/nav-top.html'"></ng-include>

<div class="tabs-content dark-green-bg">
	<div class="film-women-wrapper">

	 <ul id="myTab" class="nav nav-tabs" role="tablist" ng-init="tab = 1">
      <li ng-class="{active:tab===1}"><a href="javascript:void(0)"  ng-click="tab = 1" class="all"><img src="img/films/video-icon.png">All Videos</a></li>
      <li ng-class="{active:tab===2}"><a href="javascript:void(0)" ng-click="tab = 2" class="family"><img src="img/films/family-planning-icon.png">Family Planning</a></li>
      <li ng-class="{active:tab===3}"><a href="javascript:void(0)" ng-click="tab = 3" class="pregnancy"><img src="img/films/pregnancy-icon.png">Pregnancy</a></li>
      <li ng-class="{active:tab===4}"><a href="javascript:void(0)" ng-click="tab = 4" class="child"><img src="img/films/child-icon.png">Child</a></li>
    </ul>

     <div id="myTabContent" class="tab-content" ng-class="{all:tab===1, family:tab===2, pregnancy:tab===3, child:tab===4 }">
      <div ng-show="tab === 1">
       	<div class="video">
          <img src="img/film-women-img.jpg">
          <div>Female Sterilization</div>
          <div>kaise apnayen mahila nasbandi</div>
        </div>
        <div class="video">
          <img src="img/film-women-img.jpg">
          <div>Female Sterilization</div>
          <div>kaise apnayen mahila nasbandi</div>
        </div>
      </div>
      <div ng-show="tab === 2">
                <div class="video">
          <img src="img/film-women-img.jpg">
          <div>Female Sterilization</div>
          <div>kaise apnayen mahila nasbandi</div>
        </div>
        <div class="video">
          <img src="img/film-women-img.jpg">
          <div>Female Sterilization</div>
          <div>kaise apnayen mahila nasbandi</div>
        </div>
                <div class="video">
          <img src="img/film-women-img.jpg">
          <div>Female Sterilization</div>
          <div>kaise apnayen mahila nasbandi</div>
        </div>
        <div class="video">
          <img src="img/film-women-img.jpg">
          <div>Female Sterilization</div>
          <div>kaise apnayen mahila nasbandi</div>
        </div>
      </div>
        <div ng-show="tab === 3">
                  <div class="video">
          <img src="img/film-women-img.jpg">
          <div>Female Sterilization</div>
          <div>kaise apnayen mahila nasbandi</div>
        </div>
        <div class="video">
          <img src="img/film-women-img.jpg">
          <div>Female Sterilization</div>
          <div>kaise apnayen mahila nasbandi</div>
        </div>        <div class="video">
          <img src="img/film-women-img.jpg">
          <div>Female Sterilization</div>
          <div>kaise apnayen mahila nasbandi</div>
        </div>
        <div class="video">
          <img src="img/film-women-img.jpg">
          <div>Female Sterilization</div>
          <div>kaise apnayen mahila nasbandi</div>
        </div>        <div class="video">
          <img src="img/film-women-img.jpg">
          <div>Female Sterilization</div>
          <div>kaise apnayen mahila nasbandi</div>
        </div>
        <div class="video">
          <img src="img/film-women-img.jpg">
          <div>Female Sterilization</div>
          <div>kaise apnayen mahila nasbandi</div>
        </div>        <div class="video">
          <img src="img/film-women-img.jpg">
          <div>Female Sterilization</div>
          <div>kaise apnayen mahila nasbandi</div>
        </div>
        <div class="video">
          <img src="img/film-women-img.jpg">
          <div>Female Sterilization</div>
          <div>kaise apnayen mahila nasbandi</div>
        </div>
      </div>
              <div ng-show="tab === 4">
                  <div class="video">
          <img src="img/film-women-img.jpg">
          <div>Female Sterilization</div>
          <div>kaise apnayen mahila nasbandi</div>
        </div>
        <div class="video">
          <img src="img/film-women-img.jpg">
          <div>Female Sterilization</div>
          <div>kaise apnayen mahila nasbandi</div>
        </div>        <div class="video">
          <img src="img/film-women-img.jpg">
          <div>Female Sterilization</div>
          <div>kaise apnayen mahila nasbandi</div>
        </div>
        <div class="video">
          <img src="img/film-women-img.jpg">
          <div>Female Sterilization</div>
          <div>kaise apnayen mahila nasbandi</div>
        </div>        <div class="video">
          <img src="img/film-women-img.jpg">
          <div>Female Sterilization</div>
          <div>kaise apnayen mahila nasbandi</div>
        </div>
        <div class="video">
          <img src="img/film-women-img.jpg">
          <div>Female Sterilization</div>
          <div>kaise apnayen mahila nasbandi</div>
        </div>        <div class="video">
          <img src="img/film-women-img.jpg">
          <div>Female Sterilization</div>
          <div>kaise apnayen mahila nasbandi</div>
        </div>
        <div class="video">
          <img src="img/film-women-img.jpg">
          <div>Female Sterilization</div>
          <div>kaise apnayen mahila nasbandi</div>
        </div>
      </div>

    </div>
  </div>
	</div>
</div>
