<ul class="app-tabs" style="overflow-x: hidden;">
    <li class="light-green-bg col-lg-2"><a href="#">Main Page</a></li>
    <li class="active dark-green-bg col-lg-1"><a href="#"><i class="icon-add-new">&nbsp;</i><span>Add</span></a></li>
    <li class="pink-bg col-lg-1"><a href="#"><i class="icon-map-women-sm">&nbsp;</i><span>Map</span></a></li>
    <li class="blue-bg col-lg-1"><a href="#"><i class="icon-map-babies-sm">&nbsp;</i><span>Map</span></a></li>
    <li class="pink-bg col-lg-1"><a href="#"><i class="icon-list-women-sm">&nbsp;</i><span>List</span></a></li>
    <li class="blue-bg col-lg-1"><a href="#"><i class="icon-list-babies-sm">&nbsp;</i><span>List</span></a></li>
    <li class="pink-bg col-lg-1"><a href="#"><i class="icon-report-women-sm">&nbsp;</i><span>Report</span></a></li>
    <li class="blue-bg col-lg-1"><a href="#"><i class="icon-report-babies-sm">&nbsp;</i><span>Report</span></a></li>
    <li class="pink-bg col-lg-1"><a href="#"><i class="icon-films-fp-sm">&nbsp;</i><span>Films</span></a></li>
    <li class="blue-bg col-lg-1"><a href="#"><i class="icon-films-babies-sm">&nbsp;</i><span>Films</span></a></li>
    <li class="dark-green-bg col-lg-1"><a href="" class="settings-icon">Settings</a></li>
</ul>
<div class="row">
    <div class="col-md-10">
        <div class="row basic-information well">
            <div class="col-md-12">
                <div>
                    <span class="glyphicon glyphicon-user"></span>
                </div>
                <div>Maya</div>
                <div>A-101</div>
                <div>Age 28</div>
                <div>No. Pregnancies 2</div>
                <div>No. Children 2</div>
                <div>Age of youngest child 3</div>
                <div>Sex F</div>
                <div>Are you currently breastfeeding? No</div>
                <div>Are you currently pregnant? No</div>
            </div>
        </div>

        <div class="row well">
            <div class="col-md-12">
                <div class="row message">
                    <div class="col-md-12">
                        <br>
                        <span>Make sure you use it every time and keep always extra packet at home with you.</span>
                        <span class="glyphicon glyphicon-asterisk"></span>
                    </div>
                </div>

                <div class="row films">
                    <div class="col-md-12">
                        <br>
                        <ul class="list-inline">
                            <li>One</li>
                            <li>Two</li>
                            <li>Three</li>
                            <li>Four</li>
                            <li>Five</li>
                            <li>Six</li>
                            <li>Seven</li>
                            <li>Eight</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row calendar well">
            <div class="col-md-12">
                <br>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Year</th>
                            <th>Jan</th>
                            <th>Feb</th>
                            <th>Mar</th>
                            <th>Apr</th>
                            <th>May</th>
                            <th>Jun</th>
                            <th>Jul</th>
                            <th>Aug</th>
                            <th>Sep</th>
                            <th>Oct</th>
                            <th>Nov</th>
                            <th>Dec</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2015</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><span class="glyphicon glyphicon-asterisk"></span></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2014</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><span class="glyphicon glyphicon-asterisk"></span></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row method well">
            <div class="col-md-12">
                <div class="h4">Current FP Method</div>
                <ul>
                    <li>None</li>
                    <li>Condom</li>
                    <li>OCP</li>
                    <li>DMPA</li>
                    <li>IUCD</li>
                    <li>Female Sterilization</li>
                    <li>Male Sterilization</li>
                </ul>
            </div>
        </div>
        <div class="row follow-up-question well">
            <div class="col-md-12">
                <br>
                <div>Did you use a condom last time when you had sex?</div>
                <div>No Yes</div>
            </div>
        </div>
    </div>
</div>
<div class="row save">
    <div class="col-md-12">
        <button class="btn pull-right">Save</button>
        <br><br>
    </div>
</div>
