<ng-include src="'templates/nav-top.html'"></ng-include>

<div class="tabs-content pink-bg">
<div class="fp-wrapper">
<div class="row">
    <div class="col-md-9">
       <!--first row start-->
       <div class="row">
          <div class="col-sm-2">
           <div class="women-profile-pic">
             <img ng-src="{{ womanDisplay.image }}" />
           </div>
           <div>{{ woman.name }}</div>
           <div>{{ woman.displayID }}</div>
       </div>
       <div class="col-sm-10 fp-women-child-wrapper">
        <div class="pink-block fp-block-women">
           <form class="form-horizontal">
               <div class="row">
                  <div class="col-sm-12">
                      <div class="form-group col-sm-3">
                        <label class="control-label col-sm-3">Age</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" value="{{ woman.age }}" disabled="">
                        </div>
                    </div>
                    <div class="form-group col-sm-5">
                        <label class="control-label col-sm-7">No. Pregnancies</label>
                        <div class="col-sm-5">
                          <input type="text" class="form-control" value="{{ woman.pregnencyCount}}" disabled="">
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="control-label col-sm-7">No. Children</label>
                        <div class="col-sm-5">
                          <input type="text" class="form-control" value="{{ woman.livingChildrenCount }}" disabled="">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="blue-block fp-block-child">
      <form class="form-horizontal">
        <div class="row">
          <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-6">
                  <label class="control-label col-sm-8">Age of youngest child</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" value="{{ child.age.years + ' yr ' + child.age.months + ' mo'}}" disabled="">
                  </div>
              </div>
              <div class="col-sm-6">
                  <label class="control-label col-sm-2">Sex</label>
                  <div class="col-sm-9 select-sex">
                    <div class="girl-child" ng-class="{'active': child.sex === 'F'}">
                      <i class="icon-girl">&nbsp;</i>
                    </div>
                    <div class="boy-child" ng-class="{'active': child.sex === 'M'}">
                      <i class="icon-boy">&nbsp;</i>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-sm-12">
          <div class="form-group">
            <div class="col-sm-6 radio-group">
              <label class="control-label">Currently breastfeeding?</label>
              <div>
                <input type="radio" id="breast-feeding-yes" ng-model="woman.isCurrentlyBreastFeeding" ng-value="true">
                <label for="breast-feeding-yes">Yes</label>
              </div>
              <div>
                <input type="radio" id="breast-feeding-no" ng-model="woman.isCurrentlyBreastFeeding" ng-value="false">
                <label for="breast-feeding-no">No</label>
              </div>
          </div>
          <div class="col-sm-6 radio-group">
              <label class="control-label">Currently pregnant</label>
              <div>
                <input type="radio" id="is-pregnant-yes" ng-model="woman.isPregnant" ng-value="true" disabled="">
                <label for="is-pregnant-yes">Yes</label>
              </div>
              <div>
                <input type="radio" id="is-pregnant-no" ng-model="woman.isPregnant" ng-value="false" disabled="">
                <label for="is-pregnant-no">No</label>
              </div>
          </div>
      </div>
  </div>
</div>
</form>
</div>
</div>
</div>
<!--first row ends-->

<div class="row">
  <div class="col-sm-12">
    <div class="fp-movies-wrapper">
      <div class="movies-msg clearfix" ng-show="showMessage" ng-hide="true">
        <span>{{ messages[FPMethod.id] }}</span>
        <span ng-show="FPMethod.id === 3">{{ futureImportantDate | date:'dd/MM/yyyy' }}</span>
        <span ng-show="FPMethod.id === 4">{{ futureImportantDate | date:'MM/yyyy' }}</span>
        <span ng-show="FPMethod.id === 6">{{ futureImportantDate | date:'dd/MM/yyyy' }}</span>
        <img src="img/condom-pic.png" ng-show="FPMethod.id === 1" />
        <img src="img/ocp-pic.png" ng-show="FPMethod.id === 2" />
        <img src="img/dmpa-pic.png" ng-show="FPMethod.id === 3" />
        <img src="img/iucd-pic.png" ng-show="FPMethod.id === 4" />
        <img src="img/mst-pic.png" ng-show="FPMethod.id === 6" />
      </div>
      <div class="fp-movies">
        <h4>View a Movie !</h4>
        <ul>
          <li ng-repeat="videoItem in video.list" ng-click="video.play(videoItem.id)">
             <video id="video{{ videoItem.id }}" class="video-thumbnail">
              <source ng-src="{{ videoItem.path }}" type="video/mp4">
            </video>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row method-calendar well">
    <div class="col-md-12">
        <br>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Year</th>
                    <th>Jan</th>
                    <th>Feb</th>
                    <th>Mar</th>
                    <th>Apr</th>
                    <th>May</th>
                    <th>Jun</th>
                    <th>Jul</th>
                    <th>Aug</th>
                    <th>Sep</th>
                    <th>Oct</th>
                    <th>Nov</th>
                    <th>Dec</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="yearData in methodCalendar.data">
                  <td>{{ yearData.year }}</td>
                  <td ng-repeat="month in months" ng-class="{highlight: yearData.methods[month].highlight}">
                    <span class="glyphicon glyphicon-remove" ng-show="yearData.methods[month].methodID === 0 || (FPMethod.id === 0 && methodCalendar.currentMonth === month && response !== 'unanswered')"></span>
                    <img src="img/condom-pic.png" ng-show="yearData.methods[month].methodID === 1 || (FPMethod.id === 1 && methodCalendar.currentMonth === month && response !== 'unanswered')" />
                    <img src="img/ocp-pic.png" ng-show="yearData.methods[month].methodID === 2 || (FPMethod.id === 2 && methodCalendar.currentMonth === month && response !== 'unanswered')" />
                    <img src="img/dmpa-pic.png" ng-show="yearData.methods[month].methodID === 3 || (FPMethod.id === 3 && methodUseDate && methodUseDate.getMonth()+1 === month )" />
                    <img src="img/iucd-pic.png" ng-show="yearData.methods[month].methodID === 4 || (FPMethod.id === 4 && methodUseDate && methodUseDate.getMonth()+1 === month)" />
                    <img src="img/fst-pic.png" ng-show="yearData.methods[month].methodID === 5 || (FPMethod.id === 5 && methodUseDate && methodUseDate.getMonth()+1 === month)" />
                    <img src="img/mst-pic.png" ng-show="yearData.methods[month].methodID === 6 || (FPMethod.id === 6  && methodUseDate && methodUseDate.getMonth()+1 === month)" />
                  </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
<div class="col-md-3">
  <!--current fp methods-->
  <div class="current-fp-method">
    <h3>Current FP Method</h3>
    <div class="fp-methods">
      <div class="clearfix" ng-click="selectFPMethod(0)" ng-class="{'active': FPMethod.id===0}">
        <div>
          <span class="circle">&nbsp;</span>
        </div>
        <div>None</div>
      </div>
      <div class="clearfix">
        <div class="col-sm-6 align-left" ng-click="selectFPMethod(1)" ng-class="{'active': FPMethod.id===1}">
          <div><span class="circle"><img src="img/condom-pic.png" class="img-responsive"></span></div>
          <div>Condom</div>
        </div>
        <div class="col-sm-6 align-right" ng-click="selectFPMethod(2)" ng-class="{'active': FPMethod.id===2}">
          <div>
            <span class="circle"><img src="img/ocp-pic.png" class="img-responsive"></span>
          </div>
          <div>OCP</div>
        </div>
      </div>
      <div class="clearfix">
       <div class="col-sm-6 align-left" ng-click="selectFPMethod(3)" ng-class="{'active': FPMethod.id===3}">
         <div>
           <span class="circle">
             <img src="img/dmpa-pic.png"  class="img-responsive">
           </span>
         </div>
         <div>DMPA</div>
       </div>
       <div class="col-sm-6 align-right" ng-click="selectFPMethod(4)" ng-class="{'active': FPMethod.id===4}">
         <div>
           <span class="circle">
             <img src="img/iucd-pic.png" class="img-responsive">
           </span>
         </div>
         <div>IUCD</div>
       </div>
      </div>
       <div class="clearfix">
       <div class="col-sm-6 align-left" ng-click="selectFPMethod(5)" ng-class="{'active': FPMethod.id===5}">
         <div>
           <span class="square"><img src="img/fst-pic.png" class="img-responsive"></span>
         </div>
         <div>Female Sterilisation</div>
       </div>
       <div class="col-sm-6 align-right" ng-click="selectFPMethod(6)" ng-class="{'active': FPMethod.id===6}">
         <div>
           <span class="square">
             <img src="img/mst-pic.png" class="img-responsive">
           </span>
         </div>
         <div>Male Sterilisation</div>
       </div>
      </div>
    </div>
  </div>
  <!--Did you use-->
  <div class="question" ng-show="FPMethod">
    <p>{{ question.list[FPMethod.id] }}</p>
    <ul ng-show="responseType === 'bool'">
      <li>
        <div ng-click="respond('yes')" ng-class="{active: response==='yes'}">
          <label for="yes">
            <input type="radio" name="bool-response" id="yes">
            <span class="circle">&nbsp;</span>
          </label>
          <span>Yes</span>
        </div>
      </li>
      <li>
        <div ng-click="respond('no')" ng-class="{active: response==='no'}">
          <label for="no">
            <input type="radio" name="bool-response" id="no">
            <span class="circle">
              <img src="img/condom-pic.png" class="img-responsive">
            </span>
          </label>
          <span>No</span>
        </div>
      </li>
    </ul>
    <div ng-show="responseType === 'datetime'">
      <div ng-click="respond()">
        <div class="row">
          <div class="col-md-12" ng-click="open($event);">
            <div datepicker-popup="" ng-model="methodUseDate" is-open="opened" ng-required="true" close-text="Close"></div>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default">
                <i class="icon-date"></i>
                <span>&nbsp;&nbsp;</span>
                <span>{{ methodUseDate | date:'dd-MM-yyyy' }}</span>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="row save">
    <div class="col-md-12">
        <button class="btn pull-right default-btn" ng-click="save()">Save</button>
        <br><br>
    </div>
</div>
</div>
</div>
<div ng-if="video.show" ng-click="video.stop()">
  <div class="video-overlay"></div>
  <div class="video-full-screen" ng-click="$event.stopPropagation()">
    <video id="selected-video" class="video-full-screen" controls>
      <source ng-src="{{video.path}}" type="video/mp4">
    </video>
  </div>
</div>
