<ul class="app-tabs" style="overflow-x: hidden;">
    <li class="light-green-bg col-lg-2"><a href="#">Main Page</a></li>
    <li class="active dark-green-bg col-lg-1"><a href="#"><i class="icon-add-new">&nbsp;</i><span>Add</span></a></li>
    <li class="pink-bg col-lg-1"><a href="#"><i class="icon-map-women-sm">&nbsp;</i><span>Map</span></a></li>
    <li class="blue-bg col-lg-1"><a href="#"><i class="icon-map-babies-sm">&nbsp;</i><span>Map</span></a></li>
    <li class="pink-bg col-lg-1"><a href="#"><i class="icon-list-women-sm">&nbsp;</i><span>List</span></a></li>
    <li class="blue-bg col-lg-1"><a href="#"><i class="icon-list-babies-sm">&nbsp;</i><span>List</span></a></li>
    <li class="pink-bg col-lg-1"><a href="#"><i class="icon-report-women-sm">&nbsp;</i><span>Report</span></a></li>
    <li class="blue-bg col-lg-1"><a href="#"><i class="icon-report-babies-sm">&nbsp;</i><span>Report</span></a></li>
    <li class="pink-bg col-lg-1"><a href="#"><i class="icon-films-fp-sm">&nbsp;</i><span>Films</span></a></li>
    <li class="blue-bg col-lg-1"><a href="#"><i class="icon-films-babies-sm">&nbsp;</i><span>Films</span></a></li>
    <li class="dark-green-bg col-lg-1"><a href="" class="settings-icon">Settings</a></li>
</ul>

<div class="tabs-content pink-bg">
<div class="fp-wrapper">
<div class="row">
    <div class="col-md-9">
       <!--first row start-->
       <div class="row">
          <div class="col-sm-2">
           <div class="women-profile-pic"></div>
           <div>Lata</div>
           <div>A-26.1</div>
       </div>
       <div class="col-sm-10 fp-women-child-wrapper">
        <div class="pink-block fp-block-women">
           <form class="form-horizontal">
               <div class="row">
                  <div class="col-sm-12">
                      <div class="form-group col-sm-3">
                        <label class="control-label col-sm-3">Age</label>
                        <div class="col-sm-9"><input type="text" class="form-control"></div>
                    </div>
                    <div class="form-group col-sm-5">
                        <label class="control-label col-sm-7">No. Pregnancies</label>
                        <div class="col-sm-5"><input type="text" class="form-control"></div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="control-label col-sm-7">No. Children</label>
                        <div class="col-sm-5"><input type="text" class="form-control"></div>
                    </div>
                </div>
            </div>
        </form>  
    </div>

    <div class="blue-block fp-block-child">
      <form class="form-horizontal">
        <div class="row">
          <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-6">
                  <label class="control-label col-sm-8">Age of youngest child</label>
                  <div class="col-sm-4"><input type="text" class="form-control"></div>
              </div>
              <div class="col-sm-6">
                  <label class="control-label col-sm-2">Sex</label>
                  <div class="col-sm-9 select-sex"><a href="#" class="girl-child"><i class="icon-girl">&nbsp;</i></a> <a href="#" class="boy-child"><i class="icon-boy">&nbsp;</i></a></div>
              </div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-sm-12">
          <div class="form-group">
            <div class="col-sm-6 radio-group">
              <label class="control-label">Currently breastfeeding?</label>
              <div><input type="radio" id="breastFeedingYes" name="breastFeeding"><label for="breastFeedingYes">Yes</label></div>
              <div><input type="radio" id="breastFeedingNo" name="breastFeeding"><label for="breastFeedingNo">No</label></div>
          </div>
          <div class="col-sm-6 radio-group">
              <label class="control-label">Currently  pregnant</label>
              <div><input type="radio" id="breastFeedingYes" name="breastFeeding"><label for="breastFeedingYes">Yes</label></div>
              <div><input type="radio" id="breastFeedingNo" name="breastFeeding"><label for="breastFeedingNo">No</label></div>
          </div>
      </div>
  </div>
</div>
</form>
</div>
</div>
</div>
<!--first row ends-->
<div class="row well">
    <div class="col-md-12">
        <div class="row message">
            <div class="col-md-12">
                <br>
                <span>Make sure you use it every time and keep always extra packet at home with you.</span>
                <span class="glyphicon glyphicon-asterisk"></span>
            </div>
        </div>

        <div class="row films">
            <div class="col-md-12">
                <br>
                <ul class="list-inline">
                    <li>One</li>
                    <li>Two</li>
                    <li>Three</li>
                    <li>Four</li>
                    <li>Five</li>
                    <li>Six</li>
                    <li>Seven</li>
                    <li>Eight</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row calendar well">
    <div class="col-md-12">
        <br>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Year</th>
                    <th>Jan</th>
                    <th>Feb</th>
                    <th>Mar</th>
                    <th>Apr</th>
                    <th>May</th>
                    <th>Jun</th>
                    <th>Jul</th>
                    <th>Aug</th>
                    <th>Sep</th>
                    <th>Oct</th>
                    <th>Nov</th>
                    <th>Dec</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2015</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><span class="glyphicon glyphicon-asterisk"></span></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2014</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><span class="glyphicon glyphicon-asterisk"></span></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
<div class="col-md-3">
    <div class="row method well">
        <div class="col-md-12">
            <div class="h4">Current FP Method</div>
            <ul>
                <li>None</li>
                <li>Condom</li>
                <li>OCP</li>
                <li>DMPA</li>
                <li>IUCD</li>
                <li>Female Sterilization</li>
                <li>Male Sterilization</li>
            </ul>
        </div>
    </div>
    <div class="row follow-up-question well">
        <div class="col-md-12">
            <br>
            <div>Did you use a condom last time when you had sex?</div>
            <div>No Yes</div>
        </div>
    </div>
</div>
</div>
<div class="row save">
    <div class="col-md-12">
        <button class="btn pull-right">Save</button>
        <br><br>
    </div>
</div>
</div>
</div>