<div class="home-page-wrapper">
   <div class="home-header"><h1>What do you want to Do</h1> <a href="" class="settings-icon">Settings</a></div>
   
  
   

    <div class="clearfix home-icons-wrapper">
    <!--left block icons-->

            <div class="clearfix">


      <div class="col-sm-3 col-md-2">
           <div class="icon-block" ng-click="showFilmsPregnant()">
              <i class="icon-films-pregnant">&nbsp;</i>
              <span>Films Pregnant</span>
          </div>
            <div class="icon-block" ng-click="showFilmsFP()">
              <i class="icon-films-fp">&nbsp;</i>
              <span>Films FP</span>
           </div>

      </div>
      <div class="col-sm-9 col-md-10">

        <div class="col-sm-4" ng-click="mapWomen()">
         <div class="icon-block">
          <i class="icon-map-women">&nbsp;</i>
          <span>Map Women</span>
          </div>
        </div>

         <div class="col-sm-4" ng-click="listWomen()">
           <div class="icon-block">
          <i class="icon-list-women">&nbsp;</i>
          <span>List Women</span>
          </div>
          </div>

           <div class="col-sm-4" ng-click="reportWomen()"> 
           <div class="icon-block">
          <i class="icon-report-women">&nbsp;</i>
          <span>Report Women</span>
          </div>
          </div>

      </div>
 
   
  

      </div>
       <!--right block icons-->

     <div class="clearfix">

     <div class="col-sm-3 col-md-2">
         <div class="icon-block" ng-click="showFilmsBabies()">
              <i class="icon-films-babies">&nbsp;</i>
              <span>Films Babies</span>
            </div>
     </div>

     <div class="col-sm-9 col-md-10" >
          <div class="col-sm-4"ng-click="mapBabies()">
        <div class="icon-block">
          <i class="icon-map-babies">&nbsp;</i>
          <span>Map Babies</span>
          </div>
        </div>

         <div class="col-sm-4"  ng-click="listBabies()">
        <div class="icon-block">
          <i class="icon-list-babies">&nbsp;</i>
          <span>List Babies</span>
          </div>
        </div>

          <div class="col-sm-4" ng-click="reportBabies()">
        <div class="icon-block">
          <i class="icon-report-babies">&nbsp;</i>
          <span>Report Babies</span>
          </div>
        </div>
     </div>

   </div>


    </div>
    <!--container ends here-->


<div class="home-page-footer clearfix">
        <a href="#/login" class="pull-left footer-btn"><i class="icon-exit">&nbsp;</i>Exit</a>
        <a href="#" class="pull-right footer-btn"><i class="icon-add-new"></i>Add New</a>
     </div>


   </div>