<div class="home-page-wrapper">
   <div class="home-header" ng-controller="navController">
     <h1>What do you want to Do</h1>
     <a href="" class="settings-icon" ng-click="settingsOpen=!settingsOpen">Settings</a>
     <ul class="settings-popup" ng-show="settingsOpen">
       <li class="clearfix"><a href="#"><span>Export</span> <i class="icon-export pull-right">&nbsp;</i></a></li>
       <li class="clearfix"><a href="#"><span>Import</span> <i class="icon-import pull-right">&nbsp;</i></a></li>
       <li class="clearfix change-lang">
         <span>Langauge</span>
         <img src="img/icon-a.png">
         <div class="switch">
           <input type="radio" checked="" id="english" name="view" class="switch-input">
           <label class="switch-label switch-label-off" for="english"></label>
           <input type="radio" id="hindi" name="view" class="switch-input">
           <label class="switch-label switch-label-on" for="hindi"></label>
           <span class="switch-selection"></span>
         </div>
         <img src="img/icon-aa.png">
       </li>
     </ul>
   </div>

    <div class="clearfix home-icons-wrapper">
    <!--left block icons-->

            <div class="clearfix">


      <div class="col-sm-3 col-md-2">
           <div class="icon-block" ng-click="showFilmsPregnant()">
              <i class="icon-films-pregnant">&nbsp;</i>
              <span>Films Pregnant</span>
          </div>
            <div class="icon-block" ng-click="showFilmsFP()">
              <i class="icon-films-fp">&nbsp;</i>
              <span>Films FP</span>
           </div>

      </div>
      <div class="col-sm-9 col-md-10">

        <div class="col-sm-4" ng-click="mapWomen()">
         <div class="icon-block">
          <i class="icon-map-women">&nbsp;</i>
          <span>Map Women</span>
          </div>
        </div>

         <div class="col-sm-4" ng-click="listWomen()">
           <div class="icon-block">
          <i class="icon-list-women">&nbsp;</i>
          <span>List Women</span>
          </div>
          </div>

           <div class="col-sm-4" ng-click="reportWomen()"> 
           <div class="icon-block">
          <i class="icon-report-women">&nbsp;</i>
          <span>Report Women</span>
          </div>
          </div>

      </div>
 
   
  

      </div>
       <!--right block icons-->

     <div class="clearfix">

     <div class="col-sm-3 col-md-2">
         <div class="icon-block" ng-click="showFilmsBabies()">
              <i class="icon-films-babies">&nbsp;</i>
              <span>Films Babies</span>
            </div>
     </div>

     <div class="col-sm-9 col-md-10" >
          <div class="col-sm-4"ng-click="mapBabies()">
        <div class="icon-block">
          <i class="icon-map-babies">&nbsp;</i>
          <span>Map Babies</span>
          </div>
        </div>

         <div class="col-sm-4"  ng-click="listBabies()">
        <div class="icon-block">
          <i class="icon-list-babies">&nbsp;</i>
          <span>List Babies</span>
          </div>
        </div>

          <div class="col-sm-4" ng-click="reportBabies()">
        <div class="icon-block">
          <i class="icon-report-babies">&nbsp;</i>
          <span>Report Babies</span>
          </div>
        </div>
     </div>

   </div>


    </div>
    <!--container ends here-->


<div class="home-page-footer clearfix">
       <div class="col-sm-3 col-xs-3 text-left"><a href="#/login" class="footer-btn"><i class="icon-exit">&nbsp;</i>Exit</a></div>
        <div class="col-sm-6 col-xs-5 text-center go-to">       
            <div class="col-sm-3 col-xs-4"><input type="text" class="form-control" placeholder="House No." ng-model="houseNo"></div>
             <div class="col-sm-3 col-xs-4"><input type="number" class="form-control" placeholder="Women No." ng-model="womanNo" min="1"></div>
             <div class="col-sm-3 col-xs-4"><input type="number" class="form-control" placeholder="Child No." ng-model="childNo" min="1"></div>
              <div class="col-sm-2  col-xs-2"><a href="javascript:void(0)" ng-click="goTo();" class="footer-btn">GO</a> </div>
            </div>
        <div class="col-sm-3  col-xs-4 text-right"><a href="javascript: void(0)" class="footer-btn" ng-click="addWoman();"><i class="icon-add-new"></i>Add New</a></div>
</div>


   </div>
