<ng-include src="'templates/nav-top.html'"></ng-include>
<!--tab content start-->
<div>
  <!--left block-->
  <div>
    <!--left block repeat div-->
    <div>
      <span>A124-3</span>
      <img src="">
    </div>
  </div>

  <!--right block-->
  <div>
    <div><button>Show All</button></div>
    <!--select house row-->
    <div>
      <label>Select House</label>
      <input type="text">
      <button>Go</button>
    </div>
    <!--vaccine and fp methods block-->
    <div>
      <!--vaccine block-->
      <div>
        <!--child icons block-->
        <div>
          <div>
            <div><img src=""></div>
            <div>< 40 Days</div>
          </div>
          <div>
            <div><img src=""></div>
            <div>> 40 Days</div>
          </div>
        </div>
        <!--vaccine list block-->
        <div>
          <!--single vaccine-->
          <div>
            <div>
              <span><img src="" class="img-responsive"></span>
            </div>
            <div>BCG</div>
          </div>
          <!--single vaccine-->
          <div>
            <div>
              <span><img src="" class="img-responsive"></span>
            </div>
            <div>OPV</div>
          </div>
          <!--single vaccine-->
          <div>
            <div>
              <span><img src="" class="img-responsive"></span>
            </div>
            <div>DPT</div>
          </div>
          <!--single vaccine-->
          <div>
            <div>
              <span><img src="" class="img-responsive"></span>
            </div>
            <div>HEP B</div>
          </div>
          <!--single vaccine-->
          <div>
            <div>
              <span><img src="" class="img-responsive"></span>
            </div>
            <div>Measles</div>
          </div>
          <!--single vaccine-->
          <div>
            <div>
              <span><img src="" class="img-responsive"></span>
            </div>
            <div>Vitamin A</div>
          </div>
          <!--any vaccine-->
          <div>
            <div>Any Vaccine</div>
          </div>
        </div>
      </div>
      <!--fp methods block-->
      <div>
        <!--women icons block-->
        <div>
          <div>
            <div><img src=""></div>
            <div>MWRA</div>
          </div>
          <div>
            <div><img src=""></div>
            <div>Pregnant</div>
          </div>
        </div>
        <!--fp methods list block-->
        <div>
          <!--single fp method-->
          <div>
            <div>
              <span><img src="" class="img-responsive"></span>
            </div>
            <div>None</div>
          </div>
          <!--single fp method-->
          <div>
            <div>
              <span><img src="" class="img-responsive"></span>
            </div>
            <div>Condom</div>
          </div>
          <!--single fp method-->
          <div>
            <div>
              <span><img src="" class="img-responsive"></span>
            </div>
            <div>OCP</div>
          </div>
          <!--single fp method-->
          <div>
            <div>
              <span><img src="" class="img-responsive"></span>
            </div>
            <div>DMPA</div>
          </div>
          <!--single fp method-->
          <div>
            <div>
              <span><img src="" class="img-responsive"></span>
            </div>
            <div>IUCD</div>
          </div>
          <!--two fp method-->
          <div>
            <!--single fp method-->
            <div>
              <div>
                <span><img src="" class="img-responsive"></span>
              </div>
              <div>F-St</div>
            </div>
            <!--single fp method-->
            <div>
              <div>
                <span><img src="" class="img-responsive"></span>
              </div>
              <div>M-St</div>
            </div>
          </div>
          <!--FP methods May Need-->
          <div>
            <div>May Need</div>
            <div>
              <span><img src="" class="img-responsive"></span>
              <span>or</span>
              <span><img src="" class="img-responsive"></span>
              <span>or</span>
              <span><img src="" class="img-responsive"></span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!--right block ends here-->
</div>
<!--tab content ends-->
