<ng-include src="'templates/nav-top.html'"></ng-include>
<!--tab content start-->
<div class="tabs-content dark-green-bg map-wrapper clearfix">
  <!--left block-->
  <div class="left-block">
    <!--left block repeat div-->
    <div class="col-sm-4">
      <div class="women-status-block">
        <span>A124-3</span>
        <img src="img/map/women-two-child.png">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="women-status-block">
        <span>A124-3</span>
        <img src="img/map/women-two-child.png">
      </div>
    </div>
  </div>

  <!--right block-->
  <div class="right-block">
    <div class="clearfix"><button class="default-btn col-xs-12">Show All</button></div>
    <!--select house row-->
    <div class="select-house clearfix">
      <label class="control-label col-sm-5">Select House</label>
      <div class="col-sm-4">
        <input type="text" class="form-control">
      </div>
      <div class="col-sm-3">
        <button class="default-btn">Go</button>
      </div>
    </div>
    <!--vaccine and fp methods block-->
    <div class="vaccine-fp-wrapper clearfix">
      <!--vaccine block-->
      <div class="col-sm-6 left-block">
        <!--child icons block-->
        <div class="icons-block clearfix">
          <div class="col-sm-6">
            <div class="icon"><img src="img/map/baby-icon.png"></div>
            <div>< 40 Days</div>
          </div>
          <div class="col-sm-6">
            <div class="icon"><img src="img/map/baby-icon-small.png"></div>
            <div>> 40 Days</div>
          </div>
        </div>
        <!--vaccine list block-->
        <div class="vaccine-list">
          <!--single vaccine-->
          <div class="block">
            <div class="vaccine">
              <span><img src="" class="img-responsive"></span>
            </div>
            <div>BCG</div>
          </div>
          <!--single vaccine-->
          <div>
            <div>
              <span><img src="" class="img-responsive"></span>
            </div>
            <div>OPV</div>
          </div>
          <!--single vaccine-->
          <div>
            <div>
              <span><img src="" class="img-responsive"></span>
            </div>
            <div>DPT</div>
          </div>
          <!--single vaccine-->
          <div>
            <div>
              <span><img src="" class="img-responsive"></span>
            </div>
            <div>HEP B</div>
          </div>
          <!--single vaccine-->
          <div>
            <div>
              <span><img src="" class="img-responsive"></span>
            </div>
            <div>Measles</div>
          </div>
          <!--single vaccine-->
          <div>
            <div>
              <span><img src="" class="img-responsive"></span>
            </div>
            <div>Vitamin A</div>
          </div>
          <!--any vaccine-->
          <div>
            <div>Any Vaccine</div>
          </div>
        </div>
      </div>
      <!--fp methods block-->
      <div class="col-sm-6 right-block">
        <!--women icons block-->
        <div class="icons-block clearfix">
          <div class="col-sm-6">
            <div class="icon"><img src="img/map/women-icon.png"></div>
            <div>MWRA</div>
          </div>
          <div class="col-sm-6">
            <div class="icon"><img src="img/map/pregnant-women-icon.png"></div>
            <div>Pregnant</div>
          </div>
        </div>
        <!--fp methods list block-->
        <div>
          <!--single fp method-->
          <div>
            <div>
              <span><img src="" class="img-responsive"></span>
            </div>
            <div>None</div>
          </div>
          <!--single fp method-->
          <div>
            <div>
              <span><img src="" class="img-responsive"></span>
            </div>
            <div>Condom</div>
          </div>
          <!--single fp method-->
          <div>
            <div>
              <span><img src="" class="img-responsive"></span>
            </div>
            <div>OCP</div>
          </div>
          <!--single fp method-->
          <div>
            <div>
              <span><img src="" class="img-responsive"></span>
            </div>
            <div>DMPA</div>
          </div>
          <!--single fp method-->
          <div>
            <div>
              <span><img src="" class="img-responsive"></span>
            </div>
            <div>IUCD</div>
          </div>
          <!--two fp method-->
          <div>
            <!--single fp method-->
            <div>
              <div>
                <span><img src="" class="img-responsive"></span>
              </div>
              <div>F-St</div>
            </div>
            <!--single fp method-->
            <div>
              <div>
                <span><img src="" class="img-responsive"></span>
              </div>
              <div>M-St</div>
            </div>
          </div>
          <!--FP methods May Need-->
          <div>
            <div>May Need</div>
            <div>
              <span><img src="" class="img-responsive"></span>
              <span>or</span>
              <span><img src="" class="img-responsive"></span>
              <span>or</span>
              <span><img src="" class="img-responsive"></span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!--right block ends here-->
</div>
<!--tab content ends-->
