    <!--app tab start-->
  <ul class="app-tabs">
    <li class="light-green-bg col-lg-2"><a href="#">Main Page</a></li>
    <li class="active dark-green-bg col-lg-1"><a href="#/add/"><i class="icon-add-new">&nbsp;</i>Woman</a></li>
    <li class="pink-bg col-lg-1"><a href="#/map-women"><i class="icon-map-women-sm">&nbsp;</i><span>Map</span></a></li>
    <li class="blue-bg col-lg-1"><a href="#/map-children"><i class="icon-map-babies-sm">&nbsp;</i><span>Map</span></a></li>
    <li class="pink-bg col-lg-1"><a href="#/list-women"><i class="icon-list-women-sm">&nbsp;</i><span>List</span></a></li>
    <li class="blue-bg col-lg-1"><a href="#/list-children"><i class="icon-list-babies-sm">&nbsp;</i><span>List</span></a></li>
    <li class="pink-bg col-lg-1"><a href="#/report-women"><i visiclass="icon-report-women-sm">&nbsp;</i><span>Report</span></a></li>
    <li class="blue-bg col-lg-1"><a href="#/report-children"><i class="icon-report-babies-sm">&nbsp;</i><span>Report</span></a></li>
    <li class="pink-bg col-lg-1"><a href="#/film"><i class="icon-films-fp-sm">&nbsp;</i><span>Films</span></a></li>
    <li class="blue-bg col-lg-1"><a href="#/film"><i class="icon-films-babies-sm">&nbsp;</i><span>Films</span></a></li>
     <li class="dark-green-bg col-lg-1"><a href="" class="settings-icon">Settings</a></li>   
  </ul>

<div class="tabs-content blue-bg">
	<div class="newborn-wrapper">
	<div class="clearfix light-blue-block">
		<div class="col-sm-12">
			<div class="col-sm-4">
				<label class="col-sm-6">Mother Name</label>
				<div class="col-sm-6"><input type="text" class="form-control" placeholder="lata" ng-model="child.motherName" ng-disabled="true"></div>
			</div>
			<div class="col-sm-3">
				<label class="col-sm-5">Baby Name</label>
				<div class="col-sm-7"><input type="text" class="form-control" placeholder="Pinky" ng-model="child.name" ng-disabled="true"></div>
			</div>
			<div class="col-sm-2">
				<label class="col-sm-4">DOB</label>
				<div class="col-sm-8"><input type="text" class="form-control" placeholder="16/10/2014" ng-model="child.dob" ng-disabled="true"></div>
			</div>
			<div class="col-sm-3 age-group">
				<label class="col-sm-2">Age</label>
				<div class="col-sm-10">
					<div class="col-sm-4"><input type="text" class="form-control" placeholder="MM" ng-model="child.ageMonths" ng-disabled = "true"></div>
					<div class="col-sm-4"><input type="text" class="form-control" placeholder="DD" ng-model="child.ageDays" ng-disabled="true"></div>
					<div class="col-sm-4"><i ng-class="getChildIcon()">&nbsp;</i></div>
				</div>
			</div>
		</div>
	</div>

	<!-- new born table-->
<!-- new born table head row-->
<div class="clearfix newborn-thead-wrapper">
	<div class="col-sm-12">
		<div class="col-sm-2">&nbsp;</div>
		<div class="col-sm-10 newborn-thead">
			<!--<div class="col-sm-1">
				<div class="day">Birth Day</div>
			</div>-->
			<div class="col-sm-1" ng-repeat = "item in child.newBornDetails">
				<div class="date">{{item.date}}</div>
				<div class="day">Day {{item.day}}</div>
			</div>
			<!--<div class="col-sm-1">
				<div class="date">04-10-2014</div>
				<div class="day">Day 3</div>
			</div>
			<div class="col-sm-1">
				<div class="date">04-10-2014</div>
				<div class="day">Day 7</div>
			</div>
			<div class="col-sm-1">
				<div class="date">04-10-2014</div>
				<div class="day">Day 14</div>
			</div>
			<div class="col-sm-1">
				<div class="date">04-10-2014</div>
				<div class="day">Day 21</div>
			</div>
			<div class="col-sm-1">
				<div class="date">04-10-2014</div>
				<div class="day">Day 28</div>
			</div>
			<div class="col-sm-1">
				<div class="date">04-10-2014</div>
				<div class="day">Day 42</div>
			</div>-->
			<div class="col-sm-4 birth-situation">
				<div><input type="checkbox" id="preterm" name="" ng-model="child.isPreterm"><label for="preterm">Preterm</label></div>
				<div><input type="checkbox" id="lbw" name="birthDay" ng-model="child.isLBW"><label for="lbw">LBW</label></div>
				<div><input type="checkbox" id="weak" name="birthDay" ng-model="child.isWeak"><label for="weak">Weak/Sick</label></div>
			</div>

		</div>
	</div>
</div>
<!-- new born table body row-->
<div class="newborn-tbody-wrapper">
<!--newborn row-->
	<div class="clearfix">
	<div class="col-sm-12">
		<div class="col-sm-2 newborn-video">
			<img src="img/newborn-video1.jpg" ng-click="video.play(0)">
		</div>
		<div class="col-sm-10 newborn-tbody">
			<div class="col-sm-1"></div>
			<div class="col-sm-1"></div>
			<div class="col-sm-1"></div>
			<div class="col-sm-1"></div>
			<div class="col-sm-1"></div>
			<div class="col-sm-1"></div>
			<div class="col-sm-1"></div>
			<div class="col-sm-1"></div>
			<div class="col-sm-4">
				<form class="form-horizontal">
			      <div class="form-group">
			        <div class="col-sm-12 transform-y100">
			          <div class="col-sm-3">
			            <div class="input-group">
                          <input type="text" class="form-control" datepicker-popup="{{dateFormat}}" ng-model="calenders['0']" is-open="isOpenPosition['0']"  max-date="getMaxDate()" min-date="getMinDate();" datepicker-options="dateOptions" close-text="Close" datepicker-append-to-body="true" ng-hide="true" />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openCalender($event, '0')"><i class="icon-date"></i></button>
                          </span>
                        </div>
			          </div>
			          <div class="col-sm-9 text-right">
			             <input type="text" class="form-control"><label class="control-label">Weight</label>
			          </div>
			        </div>
			      </div>
		    </form>
			</div>
		</div>
		</div>
	</div>
<!--newborn row-->
	<div class="clearfix">
	<div class="col-sm-12">
		<div class="col-sm-2 newborn-video">
			<img src="img/newborn-video2.jpg" ng-click="video.play(1)">
		</div>
		<div class="col-sm-10 newborn-tbody">
			<div class="col-sm-1"></div>
			<div class="col-sm-1"></div>
			<div class="col-sm-1"></div>
			<div class="col-sm-1"></div>
			<div class="col-sm-1"></div>
			<div class="col-sm-1"></div>
			<div class="col-sm-1"></div>
			<div class="col-sm-1"></div>
			<div class="col-sm-4">
				<form class="form-horizontal transform-y100">
		        <div class="form-group">
		          <div class="col-sm-12">
		            <div class="col-sm-3">
		              <div class="input-group">
                          <input type="text" class="form-control" datepicker-popup="{{dateFormat}}" ng-model="calenders['1']" is-open="isOpenPosition['1']"  max-date="getMaxDate()" min-date="getMinDate();" datepicker-options="dateOptions" close-text="Close" datepicker-append-to-body="true" ng-hide="true" />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openCalender($event, '1')"><i class="icon-date"></i></button>
                          </span>
                        </div>
		            </div>
		            <div class="col-sm-9 radio-group">
		              <div>
		               <input type="radio" name="yesNoRadio" id="yesRadio"><label for="yesRadio">No</label>
		             </div>
		             <div>
		               <input type="radio" name="yesNoRadio" id="noRadio"><label for="noRadio">Yes</label>
		             </div>
		           </div>
		         </div>
		       </div>
		     </form>
			</div>
		</div>
		</div>
	</div>
		<!--newborn row-->
	<div class="clearfix">
	<div class="col-sm-12">
		<div class="col-sm-2 newborn-video">
			<img src="img/newborn-video3.jpg" ng-click="video.play(2)">
		</div>
		<div class="col-sm-10 newborn-tbody">
			<div class="col-sm-1"></div>
			<div class="col-sm-1"></div>
			<div class="col-sm-1"></div>
			<div class="col-sm-1"></div>
			<div class="col-sm-1"></div>
			<div class="col-sm-1"></div>
			<div class="col-sm-1"></div>
			<div class="col-sm-1"></div>
			<div class="col-sm-4">
				<form class="form-horizontal transform-y100">
		        <div class="form-group">
		          <div class="col-sm-12">
		            <div class="col-sm-3">
		              <div class="input-group">
                          <input type="text" class="form-control" datepicker-popup="{{dateFormat}}" ng-model="calenders['2']" is-open="isOpenPosition['2']"  max-date="getMaxDate()" min-date="getMinDate();" datepicker-options="dateOptions" close-text="Close" datepicker-append-to-body="true" ng-hide="true" />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openCalender($event, '2')"><i class="icon-date"></i></button>
                          </span>
                        </div>
		            </div>
		            <div class="col-sm-9 radio-group">
		              <div>
		               <input type="radio" name="yesNoRadio" id="yesRadio"><label for="yesRadio">No</label>
		             </div>
		             <div>
		               <input type="radio" name="yesNoRadio" id="noRadio"><label for="noRadio">Yes</label>
		             </div>
		           </div>
		         </div>
		       </div>
		     </form>
			</div>
		</div>
		</div>
	</div>
</div>

<div class="clearfix newborn-footer">
	<div class="col-sm-12">
		<div class="col-sm-6 videos-block">
			<a href="#"><img src="img/newborn-video4.jpg"></a>
			<a href="#"><img src="img/newborn-video5.jpg"></a>
			<a href="#"><img src="img/newborn-video6.jpg"></a>
		</div>
		<div class="col-sm-6 text-right">
			<button class="default-btn" ng-click="navigateToChildImmunization();">Go To Immunization</button>
			<button class="default-btn" ng-click="navigateToMotherFP();">Go To FP</button>
			<button class="default-btn" ng-click="saveDetails();">Save</button>
		</div>
	</div>
</div>
	</div>
</div>

<div ng-if="video.show" ng-click="video.stop()">
  <div class="video-overlay"></div>
  <div class="video-full-screen" ng-click="$event.stopPropagation()">
    <video id="video_nb" class="video-full-screen" controls>
      <source ng-src="{{video.path}}" type="video/mp4">
    </video>
  </div>
</div>

