<div class="tabs-content blue-bg">
	<div class="newborn-wrapper">
	<div class="clearfix light-blue-block">
		<div class="col-sm-12">
			<div class="col-sm-4">
				<label class="col-sm-6">Mother Name</label>
				<div class="col-sm-6"><input type="text" class="form-control" placeholder="lata"></div>
			</div>
			<div class="col-sm-3">
				<label class="col-sm-5">Baby Name</label>
				<div class="col-sm-7"><input type="text" class="form-control" placeholder="Pinky"></div>
			</div>
			<div class="col-sm-2">
				<label class="col-sm-4">DOB</label>
				<div class="col-sm-8"><input type="text" class="form-control" placeholder="16/10/2014"></div>
			</div>
			<div class="col-sm-3">
				<label class="col-sm-2">Age</label>
				<div class="col-sm-10">
					<div class="col-sm-4"><input type="text" class="form-control" placeholder="MM"></div>
					<div class="col-sm-4"><input type="text" class="form-control" placeholder="MM"></div>
					<div class="col-sm-4"><i class="icon-girl">&nbsp;</i></div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>

<!-- new born table-->
<!-- new born table head row-->
<div class="clearfix newborn-thead-wrapper">
	<div class="col-sm-12">
		<div class="col-sm-2">&nbsp;</div>
		<div class="col-sm-10 newborn-thead">
			<div class="col-sm-1">
				<div class="day">Birth Day</div>
			</div>
			<div class="col-sm-1">
				<div class="date">04-10-2014</div>
				<div class="day">Day 2</div>
			</div>
			<div class="col-sm-1">
				<div class="date">04-10-2014</div>
				<div class="day">Day 2</div>
			</div>
			<div class="col-sm-1">
				<div class="date">04-10-2014</div>
				<div class="day">Day 2</div>
			</div>
			<div class="col-sm-1">
				<div class="date">04-10-2014</div>
				<div class="day">Day 2</div>
			</div>
			<div class="col-sm-1">
				<div class="date">04-10-2014</div>
				<div class="day">Day 2</div>
			</div>
			<div class="col-sm-1">
				<div class="date">04-10-2014</div>
				<div class="day">Day 2</div>
			</div>
			<div class="col-sm-1">
				<div class="date">04-10-2014</div>
				<div class="day">Day 2</div>
			</div>
			<div class="col-sm-4 birth-situation">
				<div><input type="checkbox" id="preterm" name="birthDay"><label for="preterm">Preterm</label></div>
				<div><input type="checkbox" id="lbw" name="birthDay"><label for="lbw">LBW</label></div>
				<div><input type="checkbox" id="weak" name="birthDay"><label for="weak">Weak/Sick</label></div>
			</div>

		</div>
	</div>
</div>
<!-- new born table body row-->
<div class="newborn-tbody-wrapper">
	<div class="clearfix">
	<div class="col-sm-12">
		<div class="col-sm-2 newborn-video">
			<img src="img/video-screen1.gif">
		</div>
		<div class="col-sm-10 newborn-tbody">
			<div class="col-sm-1"></div>
			<div class="col-sm-1"></div>
			<div class="col-sm-1"></div>
			<div class="col-sm-1"></div>
			<div class="col-sm-1"></div>
			<div class="col-sm-1"></div>
			<div class="col-sm-1"></div>
			<div class="col-sm-1"></div>
			<div class="col-sm-4">
				<form class="form-horizontal">
			      <div class="form-group">
			        <div class="col-sm-12">
			          <div class="col-sm-3">
			            <i class="icon-date">&nbsp;</i>
			          </div>
			          <div class="col-sm-9 text-right">
			             <input type="text" class="form-control"><label class="control-label">Weight</label>
			          </div>
			        </div>
			      </div>
		    </form>
			</div>
		</div>
		</div>
	</div>
</div>