<div class="app-login-wrapper">
  <div class="app-login-top">
    <div class="container">
      <div class="left-block"><img src="img/home-img.gif" class="img-responsive">
      </div>
      <div class="right-block">

        <div class="home-txt">
          <img src="img/women-empowerment-logo.png" class="img-responsive women-empower-logo">
          Mother and Child Protection Card
        </div>
        <span>National Rural Health Mission</span>
      </div>

    </div>
  </div>
  <div class="app-login-bottom">
    <div class="container">
      <form class="form-horizontal">
        <label class="control-label">CITY</label>
        <input type="text" placeholder="123">
        <label class="control-label">SLUM</label>
        <input type="text" placeholder="512">
        <label class="control-label">WORKER</label>
        <input type="text" placeholder="123">
        <button class="app-login-btn">
          Enter
        </button>
      </form>
    </div>
  </div>
</div>