<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="org.uhi-india.android.mcds" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>UHI India</name>
  <description>Mother Child Development System Mobile App </description>
  <author email="mail@priyaranjan.net" href="http://uhi-india.org/">UHI Software Development Team</author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="Orientation" value="landscape"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>
