.film-women-wrapper .tab-content{
background: #f467a7;
border: 1px #fff solid;
padding: 10px;
border-top:none;
}
.nav-tabs{
	border-bottom: 1px #fff solid;
}
.film-women-wrapper .nav-tabs li{
	margin-right: 10px;
	font-family: OpenSans-Semibold;
	font-size: 16px;
}
.film-women-wrapper .nav-tabs li.active a{
	background: #f467a7;
	color:#000;
	border:1px #fff solid;
	border-bottom-color: transparent;
	cursor: pointer;

}

.nav-tabs > li > a{
	background: #faafba;
	color:#000;
	border: 1px #fff solid;
	  padding: 4px 15px;
	  height: 34px;
}

.film-women-wrapper .video{
	float: left;
	width: 218px;
	height: 210px;
	margin-right: 15px;
	margin-bottom: 20px;
}
.tab-content{
	overflow: auto;
	max-height: 400px;
}

.film-women-wrapper .video img{
	max-width: 218px;
}

.film-women-wrapper .all{
	background: #d3d3d3 !important;
}
.film-women-wrapper .family{
	background: #faafba !important;
}
.film-women-wrapper .pregnancy{
	background: #faafba !important;
}

.film-women-wrapper .child{
	background: #b2dfee !important;
}

.film-women-wrapper .nav-tabs li a img{
	vertical-align: top;
	padding-right: 5px;
}

.films-container{
  height: 634px;
}

.scrollable-area-videos-all{
  height: 570px;
  margin-top: 0;
  border: 1px #fff solid;
  border-top: 1px transparent;
}

.overflow-auto{
  overflow: auto;
}

.films-container .fill-height{
  height: 580px;
}
