.film-children-wrapper .tab-content{
background: #61caec;
border: 1px #fff solid;
padding: 10px;
border-top:none;
}
.nav-tabs{
	border-bottom: 1px #fff solid;
}
.film-children-wrapper .nav-tabs li{
	margin-right: 10px;
	font-family: OpenSans-Semibold;
	font-size: 16px;
}
.film-children-wrapper .nav-tabs li.active a{
	background: #61caec;
	color:#fff;
	border:1px #fff solid;
	border-bottom-color: transparent;

}

.nav-tabs > li > a{
	background: #b2dfee;
	color:#000;
	border: 1px #fff solid;
}

.film-children-wrapper .video{
	float: left;
	width: 218px;
	height: 210px;
	margin-right: 15px;
	margin-bottom: 20px;
}
.tab-content{
	overflow: auto;
	max-height: 400px;
}

.film-children-wrapper .video img{
	max-width: 218px;
}