.fp-women-child-wrapper{
	padding-left: 0;
}
.fp-block-women, .fp-block-child{
	padding: 10px;
	margin-bottom: 15px;
}
.fp-block-child .form-group{
	margin-bottom: 0;
}
.fp-block-women label, .fp-block-child label{
	padding-left: 0;
	padding-right: 0;
	text-align: left !important;
}
.fp-block-child .radio-group:first-child{
	padding-right: 0;
}
.fp-block-child .radio-group:first-child + .radio-group{
	padding-left: 35px;
}
.fp-block-women .form-group{
	margin:0;
	padding-left: 0;
}
.fp-block-women .form-group:last-child > div{
	padding-right: 0;
}
.fp-block-women .form-group:last-child{
	padding-right: 0;
}
.fp-block-child .radio-group label + div , .fp-block-child .radio-group > div{
	float:none;
	display: inline-block;
	margin-left:10px;
	margin-right: 0;
}
.select-sex{
	padding: 5px;
	display: inline-block;
}
.select-sex .girl-child{
	background: #faafba;
	box-shadow: 0 1px 2px #fff, 0 -1px 1px #666, inset 0 -1px 1px rgba(0,0,0,0.5), inset 0 1px 1px rgba(255,255,255,0.8);
	-moz-box-shadow: 0 1px 2px #fff, 0 -1px 1px #666, inset 0 -1px 1px rgba(0,0,0,0.5), inset 0 1px 1px rgba(255,255,255,0.8);
	-webkit-box-shadow: 0 1px 2px #fff, 0 -1px 1px #666, inset 0 -1px 1px rgba(0,0,0,0.8), inset 0 5px 5px rgba(255,255,255,0.8);
  opacity: 0.3;
  display: inline-block;
  padding: 5px;
  width: 38px;
}
.select-sex .girl-child.active{
  opacity: 1;
}
.select-sex .boy-child{
	background: #61caec;
	box-shadow: 0 1px 2px #fff, 0 -1px 1px #666, inset 0 -1px 1px rgba(0,0,0,0.5), inset 0 1px 1px rgba(255,255,255,0.8);
	-moz-box-shadow: 0 1px 2px #fff, 0 -1px 1px #666, inset 0 -1px 1px rgba(0,0,0,0.5), inset 0 1px 1px rgba(255,255,255,0.8);
	-webkit-box-shadow: 0 1px 2px #fff, 0 -1px 1px #666, inset 0 -1px 1px rgba(0,0,0,0.8), inset 0 5px 5px rgba(255,255,255,0.8);
  opacity: 0.3;
  display: inline-block;
  padding: 5px;
  width: 38px;
}
.select-sex .boy-child.active{
  opacity: 1;
}
.select-sex  .icon-girl {
  background-position: -217px -125px !important;
  height:27px;
  width:27px;
}
.select-sex  .icon-boy {
  background-position: -217px -165px !important;
  height:27px;
  width:27px;
}

.fp-wrapper > .row:first-child > div:first-child{
	padding-right: 0;
}

.fp-wrapper > .row > div:first-child{
	width:78.4%;
}
.fp-wrapper > .row > div:last-child{
	width:21.6%;
}
.fp-movies-wrapper{
	border: 1px #000 solid;
	margin-bottom: 15px;
}
.fp-movies-wrapper .movies-msg{
	font-family: OpenSans-Semibold;
	background: #d9d9d9;
	padding:4px 10px;
	font-size: 14px;
}
.fp-movies-wrapper .movies-msg p{
	padding-top:10px;
}
.fp-movies-wrapper .fp-movies{
	background: #f0f0f0;
}

.fp-calender{
	background: #f0f0f0;
	border: 1px #000 solid;
	border-bottom: none;
	text-align: center;
}
.fp-calender .fp-calender-head{
	font-family: OpenSans-Semibold;
	background: #dfdfdf;
	font-size: 16px;
	height: 40px;
}
.fp-calender-head > div:first-child, .fp-calender-body > div > div:first-child{
	width:10.5%;
	height:40px;
	border-bottom: 1px #000 solid;
}
.fp-calender-head > div:last-child, .fp-calender-body > div > div:last-child{
	width:89.5%;
	height: 40px;
	border-bottom: 1px #000 solid;
}
.fp-calender-head > div:last-child > div{
	height: 100%;
}
.fp-calender .fp-calender-head > div:first-child, .fp-calender-body > div > div:first-child{
	border-right:1px #000 solid;
}
.fp-calender .fp-calender-head > div, .fp-calender-body > div > div{
	padding: 0;
}
.fp-calender .fp-calender-head > div:last-child > div, .fp-calender-body > div > div:last-child > div{
	border-right:1px #000 solid;
}
.fp-calender .fp-calender-head > div:last-child > div:last-child, .fp-calender-body > div > div:last-child > div:last-child{
	border-right:none;
}
.fp-calender-body > div > div:first-child, .fp-calender-body > div > div:last-child > div,  .fp-calender-body > div > div:last-child{
	height: 34px;
}
.fp-calender-body{
	height: 80px;
	overflow: auto;
}

.current-fp-method{
	background: #d9d9d9;
	border: 1px #fff solid;
}
.current-fp-method h3{
	font-size: 16px;
	background: #ececec;
	margin:0;
	padding:8px 0;
	text-align: center;
}

.current-fp-method .fp-methods{
	padding: 10px;
	border: none;
	text-align: center;
}
.current-fp-method .fp-methods > div{
	margin-bottom: 10px;
}
.current-fp-method .fp-methods > div:last-child{
	margin-bottom:0;
}
.current-fp-method .fp-methods > div:nth-child(1) > div:first-child{
	background: #7f7f7f;
	border: 1px #fff solid;
	height:42px;
}
.current-fp-method .fp-methods > div > div{

}
.current-fp-method .fp-methods .align-left{
	padding:0 3px 0 0;
}
.current-fp-method .fp-methods .align-right{
	padding:0 0 0 3px;
}
.current-fp-method .fp-methods .align-left > div:first-child,
.current-fp-method .fp-methods .align-right > div:first-child{
	height:42px;
	border: 2px #fff solid;
	overflow: hidden;
}

.current-fp-method .fp-methods .align-left.active > div:first-child,
.current-fp-method .fp-methods .align-right.active > div:first-child{
  border: 2px #000000 solid;
}

.current-fp-method .fp-methods > div:nth-child(2) .align-left div:first-child{
	background: #5b9bd5;
}
.current-fp-method .fp-methods > div:nth-child(2) .align-right > div:first-child{
	background: #00b050;
}

.current-fp-method .fp-methods > div:nth-child(3) .align-left > div:first-child{
	background: #ed7d31;
}
.current-fp-method .fp-methods > div:nth-child(3) .align-right > div:first-child{
	background: #7030a0;
}

.current-fp-method .fp-methods > div:nth-child(4) .align-left > div:first-child{
	background: #ff0066;
}
.current-fp-method .fp-methods > div:nth-child(4) .align-right > div:first-child{
	background: #2f5496;
}

.fp-methods span.circle{
		display: inline-block;
	  background: #fff;
	  height:40px;
	  width: 40px;
	  border-radius: 50%;
	  line-height: 43px;
	  overflow: hidden;
}
.fp-methods span.square{
	display: inline-block;
	width: 44px;
	height: 40px;
	background: #fff;
}
.fp-methods span.circle img,  .fp-methods span.square img{
	margin:0 auto;
	display: inline-block;
}
.question{
	font-family: OpenSans-Semibold;
	border:1px #000 solid;
	padding: 10px;
	font-size: 12px;
	background: #d9d9d9;
	margin-top: 15px;
}
.question ul{
	padding: 0;
	list-style: none;
	text-align: center;
}
.question ul li{
	display: inline;
}
.question ul li div{
	display: inline-block;
	  margin: 0 5px;
}
.question ul li div span{
	display: block;
	font-size: 14px;
}
.question ul li div span.circle{
	display: inline-block;
		width: 36px;
	height: 36px;
	background: #fff;
	  border-radius: 50%;
	  overflow: hidden;
}
.question ul li label{
	display: inline-block;
	background: #ccc;
	border: 1px #fff solid;
	width: 38px;
	height: 38px;
	position: relative;
}
.question ul li .active label{
  border: solid 1px #000000;
}
.question ul li:first-child label{
	background: #7f7f7f;
}
.question ul li:last-child label{
	background: #5b9bd5;
}
.question ul li div input[type="radio"]{
	position: absolute;
	z-index: 1;
	height: 40px;
	left: 0;
	right: 0;
	margin:0 auto;
}

.question .dropdown-menu {
  position: absolute;
  top: -220px !important;
  left: -120px !important;
}

.question .dropdown-menu th.colspan-6{
  position: relative;
  top: -10px;
}

.family-planning-videos-container{
  width: 2000px;
}

.video-thumbnail{
  width: 150px;
}

.scroll-x{
  overflow-x: auto;
}
