.immu-wrapper .light-blue-block{
	padding-top: 15px;
	margin-bottom: 15px;
}
.immu-wrapper .light-blue-block label{
	text-align: left;
	padding-top: 7px;
}
.immu-wrapper .light-blue-block label, .immu-wrapper .light-blue-block label + div{
	padding-left:0;
	padding-right: 0;

}
.immu-wrapper .light-blue-block > div > div{
	padding-left: 0;
}
.immu-wrapper .light-blue-block > div:last-child{
	padding-right: 0;
}
.immu-wrapper .light-blue-block .age-group label + div > div{
	padding-left: 0;

}

.immu-months-wrapper{
	padding: 0;
}

.immu-month-body > div > div{
	padding: 0;
	border: 1px #000 solid;
}
.immu-month-body > div > div > div{
background: #fff;
border-right: 1px #000 solid;
padding: 0;
height: 103px;
}
.immu-month-body > div > div > div:last-child{
	border-right: none;
}

.month-col{
	padding: 0;
	width: 11.11%;
}
.month-head-cell{
	font-family: OpenSans-Semibold;
	background: #fff;
	text-align: center;
	height: 57px;
	border: 1px #000 solid;
	padding-top: 5px;
	margin-bottom: 5px;
}
.month-head-cell .month{
	font-size: 12px;
}
.month-head .month-name{
	font-size: 16px;
}
.month-col .month-cell{
	height: 105px;
	background: #fff;
	border:1px #000 solid;
	font-size: 11px;
	text-align:center;
	margin-bottom: 10px;
}
.month-col .month-cell > div{
	padding-top: 42px;
}
.immu-months-wrapper .month-col{
	float: none;
	display: inline-block;
}

.immu-wrapper .weak{
  background: #ffff00 !important;
}

.immu-months-wrapper {
	margin-bottom: 5px;
}
.immu-months-wrapper > div:first-child{
	height: 57px;
}
.immu-months > div{
	font-family: OpenSans-Semibold;
		background: #fff;
	border:1px #000 solid;
	padding: 0;
	height: 57px;
	text-align: center;
	padding-top: 5px;
	min-width: 65px;
	float: none;
	display: inline-block;
}
.immu-months-wrapper > div:first-child{
	padding-left: 0;
}
.immu-months-wrapper > div:last-child, .months-fixed-block{
	padding-left: 0;
	padding-right: 0;
}

.immu-months .month{
	font-size: 12px;
}
.immu-months .month-name{
	font-size: 16px;
}
.immu-table-wrapper{
	overflow: auto;
	white-space: nowrap;
	margin-bottom: 15px;
}
.immu-month-body-wrapper .months-row{
	margin-bottom: 10px;
}
.immu-month-body-wrapper .months-row > div > div:last-child,
.immu-month-body-wrapper .months-row > div {
	padding: 0;
}
.immu-month-body-wrapper .months-row > div > div:last-child > div{
	height: 104px;
	background: #fff;
	border: 1px #000 solid;
	min-width: 65px;
	padding: 40px 0 0 0;
	text-align: center;
	font-size: 11px;
	float: none;
	display: inline-block;

}
.months-fixed-block > div:first-child{
	padding-left: 0;
}
.months-fixed-block .calender-block{
	padding:10px;
}
.months-fixed-block .calender-block input{
	width: 53px;
	display: inline-block;

}
.months-fixed-block .calender-block{
	background: #fff;
	border: 1px #000 solid;
	height: 104px;
	border-right:none;
}
.months-fixed-block .image{
	width: 40%;
	float: left;
	margin-right: 2%;
}
.months-fixed-block .video{
	width: 58%;
	float: left;
}

.immu-month-body-wrapper .months-row > div > div:last-child div > div {
	float: left;
	width: 100%;
}
/*--immu footer---*/
.immu-footer > div{
	padding: 0;
}
.immu-footer .videos-block{
	padding-left: 0;
}
.immu-footer .videos-block + div{
	padding-right: 0;
	padding-top: 40px;
}
.immu-footer .videos-block a{
	margin-right: 20px;
}
.immu-footer .videos-block a:last-child{
	margin-right: 0;
}
.immu-footer .videos-block + div button{
	margin-right: 15px;
}
.immu-footer .videos-block + div button:last-child{
	margin-right: 0;
}
.immu-footer .videos-block + div {
  padding-right: 0;
  padding-top: 40px;
}
