.immu-wrapper .light-blue-block{
	padding-top: 15px;
  padding-bottom: 15px;
	margin-bottom: 21px;
}
.immu-wrapper .light-blue-block label{
	text-align: left;
	padding-top: 7px;
}
.immu-wrapper .light-blue-block label, .immu-wrapper .light-blue-block label + div{
	padding-left:0;
	padding-right: 0;

}
.immu-wrapper .light-blue-block > div > div{
	padding-left: 0;
}
.immu-wrapper .light-blue-block > div:last-child{
	padding-right: 0;
}
.immu-wrapper .light-blue-block .age-group label + div > div{
	padding-left: 0;

}

.immu-months{
	margin-bottom: 5px;
	height: 43px;
}
.immu-months > div{
	font-family: OpenSans-Semibold;
		background: #fff;
	border:1px #000 solid;
	padding: 0;
	height: 43px;
	text-align: center;
	padding-top: 3px;
	min-width: 75px;
	float: none;
	display: inline-block;
	margin-right: -1px;
}
.immu-months-wrapper > div:first-child{
	padding-left: 0;
}
.immu-months-wrapper > div:last-child, .months-fixed-block{
	padding-left: 0;
	padding-right: 0;
}

.immu-months .month{
	font-size: 12px;
}
.immu-months .month-name{
	font-size: 16px;
	line-height: 1;
}
.immu-month-body-wrapper .months-row{
}
.immu-month-body-wrapper .months-row > div > div:last-child,
.immu-month-body-wrapper .months-row > div {
	padding: 0;
}
.immu-month-body-wrapper .months-row > div > div:last-child > div{
	height: 70px;
	background: #fff;
	border: 1px #000 solid;
	min-width: 65px;
	padding: 40px 0 0 0;
	text-align: center;
	font-size: 11px;
	float: none;
	display: inline-block;

}
.months-fixed-block > div:first-child{
	padding-left: 0;
}
.months-fixed-block .calender-block{
	padding:10px;
}
.months-fixed-block .calender-block input{
	width: 53px;
	display: inline-block;

}
.months-fixed-block .calender-block{
	background: #fff;
	border: 1px #000 solid;
	height: 70px;
	border-right:none;
}
.months-fixed-block .image{
	width: 40%;
	float: left;
	margin-left: 2%;
}
.months-fixed-block .video{
	width: 58%;
	float: left;
  font-size: 12px;
}

.months-fixed-block .video .img-responsive{
  width: 70px;
}

.immu-month-body-wrapper .months-row > div > div:last-child div > div {
	float: left;
	width: 100%;
}
/*--immu footer---*/
.immu-footer{
  padding: 11px 0;
}
.immu-footer > div{
	padding: 0;
}
.immu-footer .videos-block{
	padding-left: 0;
}
.immu-footer .videos-block + div{
	padding-right: 0;
	padding-top: 40px;
}
.immu-footer .videos-block a{
	margin-right: 20px;
}
.immu-footer .videos-block a:last-child{
	margin-right: 0;
}
.immu-footer .videos-block + div button{
	margin-right: 15px;
}
.immu-footer .videos-block + div button:last-child{
	margin-right: 0;
}
.immu-footer .videos-block + div {
  padding-right: 0;
  padding-top: 40px;
}

.sex-boy{
  display: inline-block;
  background-image: url('../img/children/girl.png');
  background-size: 100%;
  width: 30px;
  height: 30px;
}

.sex-girl{
  display: inline-block;
  background-image: url('../img/children/girl.png');
  background-size: 100%;
  width: 30px;
  height: 30px;
}

/*--new css--*/
.months-row{
	margin-bottom: 3px;	
}
.months-row > div{
	width: 75px;
	height: 36px;
	border: 1px #000 solid;
	background: #fff;
	padding: 0;
	display: inline-block;
	float: none;
	vertical-align: top;
	margin-right: -1px;
}
.immu-table-wrapper{
	margin-bottom: 10px;
}
.immu-table-wrapper .left-block{
	float: left;
	width: 28.82%;
	padding: 0;
	padding-right: 3px;
}
.immu-table-wrapper .right-block{
	float: left;
	width: 71.18%;
	padding: 0;
	overflow: auto;
	white-space: nowrap;
}
.left-block  .videos-wrapper .block{
	margin-bottom: 3px;
	height: 36px;
}
.left-block .blank-block{
	height: 43px;
	margin-bottom: 5px;
}
.left-block .videos-wrapper{
	float: left;
	width: 45.60%;
}
.left-block .calendar-wrapper{
	float: left;
	width: 54.4%;
}
.left-block  .videos-wrapper .block .title{
	font-family: OpenSans-Semibold;
	float: left;
	font-size: 12px;
	width:65px;
}
.left-block .block .video{
	margin-right: 5px;
	float: left;
}
.left-block .calendar-wrapper .date-block{
	padding-left: 5px;
	padding-top: 2px;
}
.calendar-wrapper .calender-weight input{
	height: 30px;
}
.calendar-wrapper .calender-weight input + span{
	padding-left: 5px;
}
.left-block .calendar-wrapper > div{
	margin-bottom: 3px;
	height: 36px;
}
.left-block .calendar-wrapper .left-block,
.left-block .calendar-wrapper .right-block,
.left-block .calendar-wrapper .full-block{
	border: 1px #000 solid;
	background: #fff;
	height: 36px;
	padding: 2px;
}
.left-block .calendar-wrapper .left-block{
	float: left;
	width: 26%;
  padding-right: 0;
  margin-right: 2%;
}
.left-block .calendar-wrapper .right-block{
	float: left;
	width: 72%;
}
.calendar-weak > div, .calendar-weak .radio-block > div{
	float: left;
}
.calendar-weak .date-block{
	width: 32px;
}
.calendar-weak .radio-block{
	padding-top: 5px;
}
.calendar-weak .radio-block > div{
	margin-left: 5px;
}
.calendar-weak .radio-block label{
	padding-left: 22px;
}

