.app-login-wrapper {
	background: #d4fb83;
	min-height: 100%;
}
.app-login-wrapper.pane , body, html{
	overflow: visible;

}
.app-login-top {
	padding-top: 15px;
	background-color: #d4fb83;
}
.app-login-top .container{
	background-color:#8ac63f;
	border: 10px #000 solid;
	padding:0;
}

.app-login-top .left-block {
	background-color:#fffcd5;
	float: left;
	width:65%;
	border-right:10px #000 solid;
}
.app-login-top .right-block {
	float: left;
	width:35%;
}
.app-login-top .logos{
	margin:15px 3px;
}
.app-login-top .right-block p{
	font-size:45px;
	font-family: OpenSans-Bold;
	text-align: center;
	padding-top: 40px;
}

.app-login-bottom {
	padding: 35px 0 24px;
}

.app-login-bottom label.control-label {
	font-family: OpenSans-Regular;
	font-size: 30px;
	float:left;
	margin-right: 15px;
	vertical-align: middle;
	padding-top: 0;
}
.app-login-bottom input[type="number"], .app-login-bottom input[type="text"] {
	width: 90px;
	margin-right: 45px;
	padding-left:5px;
	margin-top: 7px;
	border: 1px #a8a8a8 solid;
	border-radius: 3px;
	height: 27px;
	display:inline-block;
}
.app-login-bottom form >div{
	float:left;
}
.app-login-bottom .has-error{
	float:left;
}
.app-login-bottom .has-error span{
	display:block;
	text-transform: capitalize;
	color:#cc0000;

}
.app-login-btn {
	background: #89c53f;
	border: 1px #598c1a solid;
	margin-top:4px;
	color: #fff;
	height: 32px;
	width: 120px;
	border-radius: 3px;
	font-size: 18px;
}
