.newborn-wrapper .light-blue-block{
	padding-top: 10px;
	margin-bottom: 10px;
}
.newborn-wrapper .light-blue-block label{
	text-align: left;
	padding-top: 7px;
}
.newborn-wrapper .light-blue-block label, .newborn-wrapper .light-blue-block label + div{
	padding-left:0;
	padding-right: 0;

}
.newborn-wrapper .light-blue-block > div > div{
	padding-left: 0;
}
.newborn-wrapper .light-blue-block > div:last-child{
	padding-right: 0;
}
.newborn-wrapper .light-blue-block .age-group label + div > div{
	padding-left: 0;

}
/*---new css-----*/
.newborn-table-wrapper .left-block{
	width: 41.8%;	
	float: left;
	padding-left: 0;
	padding-right: 3px;
}
.newborn-table-wrapper .left-block .videos-wrapper{
	width:35.09%;
	float: left;
}
.newborn-table-wrapper .left-block .calender-wrapper{
	width:64.91%;
	float: left;
}
.newborn-table-wrapper .right-block{
	width:58.2%;
	float: left;
	overflow: auto;
  white-space: nowrap;
}
.newborn-day-header{
	border-left: none;
	margin-bottom: 5px;
}
.newborn-day-header > div, .newborn-day-body .newborn-day-row > div{
	height: 57px;
	text-align: center;
	background: #fff;
	border: 1px #000 solid;
	padding:10px 5px 0;
	display: inline-block;
	min-width: 73px;
	vertical-align: top;
	float: none;
	margin-right: -5px;
}
.newborn-day-header > div:first-child{
	border-left: 1px #000 solid;
}
.newborn-day-header > div:last-child{
	border-right: 1px #000 solid;
}
.newborn-day-header span{
	display:block; 
}
.newborn-day-header .day{
	font-family: OpenSans-Semibold;
	font-size:16px;
	line-height: 1.2;
}
.newborn-day-header .date{
	font-size: 11px;
	margin-bottom:2px;
}
.newborn-day-body{
	margin-bottom: 10px;
}
.newborn-day-body .newborn-day-row{
	margin-bottom: 3px;
}
.newborn-day-body .newborn-day-row > div{
	height: 53px;
	min-width: 73px;
}
.birth-situation{
	background:#f9f9f9;
	border: 1px #000 solid;
	height: 57px;
	padding:5px;
	margin-bottom: 5px;
}
.birth-situation > div{
	float: left;
  margin-right: 10px;
}
.left-block  .videos-wrapper .block{
	margin-bottom: 3px;
	height: 53px;
}
.left-block .block.blank{
	height: 57px;
	margin-bottom: 5px;
}
.left-block  .videos-wrapper .block .title{
	font-family: OpenSans-Semibold;
	float: left;
	font-size: 12px;
	width: 66px;
}
.left-block .block .video{
	margin-right: 5px;
	float: left;
}
.left-block .calender-wrapper .block{
	background: #f9f9f9;
	border: 1px #000 solid;
	height: 53px;
	padding: 5px;
	margin-bottom: 3px;
}
.left-block .calender-wrapper input[type="text"]{
	width: 45px;
	display: inline-block;
}
.left-block .calender-wrapper input[type="text"] + label{
	padding-left: 5px;
}
.left-block .calender-wrapper .radio-block{
	padding-top:5px;
	padding-right: 0;
}
.left-block .calender-wrapper .radio-block > div{
	display: inline-block;
}
.left-block .calender-wrapper .radio-block div:first-child{
	margin-right: 8px;
}
.calender-wrapper .temp-date{
	float: left;
	width: 32px;
}
.calender-wrapper .date-block{
	width: 35px;
}
.newborn-wrapper .yellow-alert {
  background-color: yellow !important;
}

.newborn-wrapper .red-alert {
  background-color: red !important;
}

