.newborn-wrapper .light-blue-block{
	padding-top: 15px;
	margin-bottom: 15px;
}
.newborn-wrapper .light-blue-block label{
	text-align: left;
	padding-top: 7px;
}
.newborn-wrapper .light-blue-block label, .newborn-wrapper .light-blue-block label + div{
	padding-left:0;
	padding-right: 0;

}
.newborn-wrapper .light-blue-block > div > div{
	padding-left: 0;
}
.newborn-wrapper .light-blue-block > div:last-child{
	padding-right: 0;
}
.newborn-wrapper .light-blue-block .age-group label + div > div{
	padding-left: 0;

}

.newborn-thead-wrapper > div > div:first-child,
.newborn-tbody-wrapper > div > div > div:first-child{
	padding-left: 0;
}
.newborn-thead-wrapper .newborn-thead{
	background: #fff;
	padding-right: 0;
	padding-left: 0;
	border:1px #000 solid;
	height: 57px;
	margin-bottom: 5px;
}
.newborn-thead-wrapper .newborn-thead > div{
	border-right:1px #000 solid;
	height: 55px;	
	padding: 3px;
}

.newborn-thead-wrapper .newborn-thead > div:last-child{
	border-right: none;
	background: #f9f9f9;
}
.newborn-thead-wrapper .newborn-thead .day{
	font-family: OpenSans-Semibold;
	font-size: 16px;
	text-align: center;
}
.newborn-thead-wrapper .newborn-thead .date{
	font-size: 11px;
	margin-top: 5px;
	text-align: center;
}
.newborn-thead .birth-situation > div{
	float: left;
	margin-right:10px;
}
.newborn-tbody-wrapper > div{
	margin-bottom: 10px;
}
.newborn-tbody-wrapper .newborn-tbody{
	border: 1px #000 solid;
	padding-left:0;
	padding-right: 0;
}
.newborn-tbody-wrapper .newborn-tbody > div{
	border-right:1px #000 solid;
	height: 103px;
	background: #fff;
}
.newborn-tbody-wrapper .newborn-tbody > div:last-child{
	border-right:none;
	background: #f9f9f9;
}
.radio-group > div {
	float: right;
	margin-right: 20px;
}
.radio-group > div:first-child{
	margin-right: 0;
}
.newborn-tbody-wrapper{
	height: 250px;
	overflow: auto;
	margin-bottom: 15px;
}
.newborn-tbody input[type="text"] {
  width: 40px;
  display: inline-block;
  margin: 0 10px;
}
.newborn-thead-wrapper > div, .newborn-tbody-wrapper > div > div{
	padding: 0;
}

.transform-y100{
	transform:translateY(100%);
}

.newborn-wrapper .action-alert {
  background-color: yellow !important;
}

/*---new css-----*/
.newborn-table-wrapper .left-block{
	width: 38.46%;	
	float: left;
	padding-left: 0;
	padding-right: 3px;
}
.newborn-table-wrapper .left-block .videos-wrapper{
	width:38.09%;
	float: left;
}
.newborn-table-wrapper .left-block .calender-wrapper{
	width:61.91%;
	float: left;
}
.newborn-table-wrapper .right-block{
	width: 61.54%;
	float: left;
	overflow: auto;
  white-space: nowrap;
}
.newborn-day-header{
	border-left: none;
	height: 57px;
	margin-bottom: 5px;
}
.newborn-day-header > div, .newborn-day-body .newborn-day-row > div{
	height: 55px;
	text-align: center;
	background: #fff;
	border: 1px #000 solid;
	padding:10px 5px 0;
	display: inline-block;
	min-width: 73px;
	vertical-align: top;
	float: none;
	margin-right: -5px;
}
.newborn-day-header > div:first-child{
	border-left: 1px #000 solid;
}
.newborn-day-header > div:last-child{
	border-right: 1px #000 solid;
}
.newborn-day-header span{
	display:block; 
}
.newborn-day-header .day{
	font-family: OpenSans-Semibold;
	font-size:16px;
	line-height: 1.2;
}
.newborn-day-header .date{
	font-size: 11px;
	margin-bottom:2px;
}
.newborn-day-body{
	margin-bottom: 10px;
}
.newborn-day-body .newborn-day-row{
	height: 47px;
}
.newborn-day-body .newborn-day-row > div{
	height: 45px;
	min-width: 73px;
}
.birth-situation{
	background:#f9f9f9;
	border: 1px #000 solid;
	height: 57px;
	padding:5px;
	margin-bottom: 5px;
}
.birth-situation > div{
	float: left;
  margin-right: 10px;
}
.left-block .block.blank{
	height: 57px;
	margin-bottom: 5px;
}
.left-block  .videos-wrapper .block .title{
	font-family: OpenSans-Semibold;
	float: left;
	font-size: 12px;
	width: 66px;
}
.left-block  .videos-wrapper .block{
	margin-bottom: 3px;
}
.left-block .block .video{
	margin-right: 5px;
	float: left;
}
.left-block .calender-wrapper .block{
	background: #f9f9f9;
	border: 1px #000 solid;
	height: 47px;
	padding: 5px;
	margin-bottom: 3px;
}
.left-block .calender-wrapper input[type="text"]{
	width: 54px;
	display: inline-block;
}
.left-block .calender-wrapper input[type="text"] + label{
	padding-left: 5px;
}
.left-block .calender-wrapper .radio-block{
	padding-top:5px;
	padding-right: 0;
}
.left-block .calender-wrapper .radio-block > div{
	display: inline-block;
}
.left-block .calender-wrapper .radio-block div:first-child{
	margin-right: 8px;
}
