.app-tabs {
	padding:0;
	list-style: none;
	height: 60px;
	margin-bottom: 0;
}
.app-tabs li{
	float: left;
	height: 60px;
	min-width: 98px;
	text-align: center;
	border-right: 1px #fff solid;
	border-bottom:1px #fff solid;
	padding:0;
}
.app-tabs li.active{
	border-bottom: none;
}
.app-tabs li:nth-child(2) i{
	vertical-align: middle;
	margin-right: 3px;
}
.app-tabs .icon-add-new {
	width: 27px;
	height: 27px;
	background-position: -218px -364px !important;
}
.app-tabs li:nth-child(2) a{
	  padding: 5px 2px 0;
	  height: 60px;
  padding-top: 13px;
}
.app-tabs li:last-child{
	min-width:44px;
	border-right: none;
}
.app-tabs li a{
	font-family: OpenSans-Semibold;
	color: #000;
	font-size: 15px;
	display: inline-block;
	padding:5px 5px 0;
	line-height: 1.2;
}
.app-tabs li a:hover{
	text-decoration: none;
	color:#000;
}
.app-tabs li:first-child a{
	font-family: OpenSans-Semibold;
	color: #000;
	font-size: 19px;
}
.app-tabs li:last-child a{
	margin:12px 0;
}
.app-tabs li a span{
	display: block;
	padding-top: 3px;
}
.icon-map-women-sm{
	background-position: -133px -5px !important;
	width:75px;
	height:26px;
}
.icon-map-babies-sm{
	background-position: -133px -46px !important;
	width:59px;
	height:26px;
}
.icon-list-women-sm{
	background-position: -133px -87px !important;
	width:50px;
	height:26px;
}
.icon-list-babies-sm{
	background-position: -133px -125px !important;
	width:42px;
	height:26px;
}
.icon-report-women-sm{
	background-position: -133px -165px !important;
	width:56px;
	height:26px;
}
.icon-report-babies-sm{
	background-position: -133px -205px !important;
	width:50px;
	height:26px;
}
.icon-films-fp-sm{
	background-position: -133px -244px !important;
	width:56px;
	height:26px;
}
.icon-films-babies-sm{
	background-position: -133px -285px !important;
	width:50px;
	height:26px;
}
.navbar-header .icon-bar {
	background-color: #000;
}